header.header
    a.logo(href="/")
    .header__topLine International Dating and Matchmaking agency
    .container
        .header__content
            nav
                ul.navigation
                    li.navigation__item
                        a(href="#") Contact us
                    li.navigation__item
                        a(href="#") Ladies
                    li.navigation__item
                        a(href="#") Ladies
                    li.navigation__item
                        a(href="#") Tours
                    li.navigation__item
                        a(href="#") Services
                    li.navigation__item
                        a(href="#") FAQ
                    li.navigation__item
                        a(href="#") About us
            .auth
                .auth__singin
                    a(href="#") Login
                .auth__singup
                    a(href="#") Sign up