header.header
    a.logo(href="/")
    .header__topLine International Dating and Matchmaking agency
    .container
        .header__content
            .openMenu
                span
                span
                span
            nav
                .close.close-white.closeMenu
                .navigation
                    a.navigation__item(href="#") Contact us
                    a.navigation__item(href="ladiesList.html") Ladies
                    a.navigation__item(href="#") Tours
                    .navigation__item.dropdown Services
                        .dropdown__list
                            a.dropdown__item Prices
                            a.dropdown__item Introduction
                            a.dropdown__item Matchmaking
                            a.dropdown__item Romance tours
                    a.navigation__item(href="#") FAQ
                    a.navigation__item(href="#") About us
            .auth
                .auth__singin
                    a(href="#") Login
                .auth__singup
                    a(href="#") Sign up