.modal.modalRegForm(style="display: none;")
    .modal__box.modal__box-row(style="background-image: url('static/images/Background_registration_popup.jpg');')")
        span.close.close-white
        .regFormText
            .regFormText__title Join for free
            ul
                li Get access to the profiles of girls
                li Make video dates
                li Make meetings live
                li Book Dating tours
        .regForm
            form
                .regForm__box
                    .regForm__title LOGIN WITH
                    .regForm__social
                        a.socialLink.fb(href="#")
                        a.socialLink.gg(href="#")
                    .regForm__title.regForm__title-second OR SIGN IN VIA EMAIL ADDRESS
                    input.field(type="text" placeholder="Name" id="name" name="name")
                    input.field(type="number" placeholder="Age" id="age" name="age")
                    input.field(type="email" placeholder="Email" id="email" name="email")
                    input.field(type="password" placeholder="Password" id="password" name="password")
                    button.button#sendRegForm Sign up for free

.modal.modalNotEnoughMoney(style="display: none;")
    .modal__box
        span.close
        .modal__title Please top up your balance to proceed
        label Account Balance:	$15.00
        form
            .modal__boxInside
                input.field(type="text" placeholder="200" id="sum" name="sum")
                button.button#sendPay Add funds

.modal.modalSendLetter(style="display: none;")
    .modal__box
        span.close
        .modal__title SEND LETTER
        form
            .modal__boxInside
                input.field(type="text" placeholder="Your Email")
                input.field(type="text" placeholder="Subject")
                textarea.fieldTextarea
                .modal__btnGroup
                    button.button Sign up for free
                    button.button.button-transparent + Add a picture

.modal.modalSelectOptions(style="display: none;")
    .modal__box
        span.close
        .modal__title SELECT OPTIONS
        form
            .modal__boxInside
                span Please choose the type of letter you want to send
                label.filter__label(for="")
                    select.field(id="" name="")
                        option(value="1")
                            span 1 letter + responce translated for lady *
                            span 10 USD
                        option(value="2")
                            span 1 letter + responce for lady *
                            span 10 USD
                .checkbox__label
                    label(for="addPhoto") Attach photo to latter - 2 USD
                    input.checkbox(type="checkbox" id="addPhoto" placeholder="Subject")
                p.text-gray Please note! You can send emails absolutely free within our Matchmaking program and Romance tours. If you make a decision to take part in our programs in the future we will give back all your spending on correspondence.
                p.text-gray We charge a fare for emails just to be sure that men have serious intentions.
                .modal__btnGroup
                    button.button Send Mail
                    span.totalCost Total cost: 20$
                    button.button.button-transparent Back

.modal.modalArrangeVideoDate(style="display: none;")
    .modal__box
        span.close
        .modal__title ARRANGE VIDEO DATE
        form
            .modal__boxInside
                input.field(type="text" placeholder="Your skype")
                p Your time zone
                p.text-gray All times will be displayed according to your time zone
                label.filter__label(for="")
                    select.field(id="" name="")
                        option(value="1") Ukraine
                        option(value="2") USA
                label.filter__label(for="")
                    select.field(id="" name="")
                        option(value="1") Kiev (GMT+3:00) [DST]
                        option(value="2") New York (GMT+3:00) [DST]
                .modal__btnGroup
                    button.button Send Mail

.modal.modalArrangeVideoDateCalendar(style="display: none;")
    .modal__box
        span.close
        .modal__title ARRANGE VIDEO DATE
        form
            .modal__boxInside
                p Please select a convenient time
                .dateTimePicker
                    .datepicker
                    .timepicker
                .modal__btnGroup
                    button.button Send Mail
                    span.totalCost Video date cost: 150$
                    div
.modal.modalSendGift(style="display: none;")
    .modal__box
        span.close
        .modal__title SEND A GIFT
        form
            .modal__boxInside
                p Choose the gift you want to send to <Name>
                .gifts
                    .gifts__item
                        img(src="static/images/media/gift-1.png")
                        .gifts__description
                            p
                                strong Passionate Red Roses
                            p Red roses on long stems — what will describe your feelings better? This bouquet is laconic but elegant. It is appropriate in any situation! The minimum amount is 3 roses. Choose the uneven amount only. (because of local cultural nuances)
                        .gifts__cost
                            b 7$
                            button.button Send
                    .gifts__item
                        img(src="static/images/media/gift-1.png")
                        .gifts__description
                            p
                                strong Passionate Red Roses
                            p Red roses on long stems — what will describe your feelings better? This bouquet is laconic but elegant. It is appropriate in any situation! The minimum amount is 3 roses. Choose the uneven amount only. (because of local cultural nuances)
                        .gifts__cost
                            b 7$
                            button.button Send
                    .gifts__item
                        img(src="static/images/media/gift-1.png")
                        .gifts__description
                            p
                                strong Passionate Red Roses
                            p Red roses on long stems — what will describe your feelings better? This bouquet is laconic but elegant. It is appropriate in any situation! The minimum amount is 3 roses. Choose the uneven amount only. (because of local cultural nuances)
                        .gifts__cost
                            b 7$
                            button.button Send
.modal.modalAdditionalOptions(style="display: none;")
    .modal__box
        span.close
        .modal__title Additional options
        form
            .modal__boxInside
                p Select additional options
                .gifts
                    .gifts__item
                        img(src="static/images/media/gift-1.png")
                        .gifts__description
                            p
                                strong Passionate Red Roses
                            p Red roses on long stems — what will describe your feelings better? This bouquet is laconic but elegant. It is appropriate in any situation! The minimum amount is 3 roses. Choose the uneven amount only. (because of local cultural nuances)
                        .gifts__cost
                            b 7$
                    .checkbox__label
                        label(for="addMessage") Add message to your gift
                        input.checkbox(type="checkbox" id="addMessage" placeholder="Subject")
                        textarea.fieldTextarea
                    .checkbox__label
                        label(for="selectDay") Sellect specific day when we delver your present to lady
                        input.checkbox(type="checkbox" id="selectDay" placeholder="Subject")
                        .dateTimePicker
                            .datepicker
                            .timepicker
                    .checkbox__label
                        label(for="addVideo") Video of lady at delivery  -  29 USD
                        input.checkbox(type="checkbox" id="addVideo" placeholder="Subject")
                .modal__btnGroup.modal__btnGroup-absolute
                    button.button Continue
                    span.totalCost Total cost: 20$
.modal.modalConfirmAction(style="display: none;")
    .modal__box
        span.close
        .modal__title Confirm actions
        form
            .modal__boxInside
                p Get access to video for $4
                .video.paused
                    .video__view
                        video
                            source(src="/static/video/big_buck_bunny.mp4" type="video/mp4")
                        .video__controlls
                .modal__btnGroup
                    button.button OK
                    button.button.button-transparent Cancel
                    div
.modal.modalBookaCall(style="display: none;")
    .modal__box
        span.close
        .modal__title Book a Call
        form
            .modal__boxInside
                input.field(type="text" placeholder="Name")
                input.field(type="text" placeholder="Phone or Skype")
                p Your time zone
                p.text-gray All times will be displayed according to your time zone
                label.filter__label(for="")
                    select.field(id="" name="")
                        option(value="1") Ukraine
                        option(value="2") USA
                label.filter__label(for="")
                    select.field(id="" name="")
                        option(value="1") Kiev (GMT+3:00) [DST]
                        option(value="2") New York (GMT+3:00) [DST]
                .modal__btnGroup
                    button.button Continue