.button{
  font-family: "RobotoMedium";
  height: 45px;
  padding: 0 10px;
  min-width: 180px;
  border-radius: 45px;
  background-color: #C9A876;
  box-shadow: 10px 10px 20px rgba(248, 189, 101, 0.55);
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  &:hover{
    background-color: #C99445;
  }
}
.field{
  background-color: #F1F1F1;
  color: #9C9C9C;
  padding: 0 10px;
  height: 22px;
  max-width: 330px;
  width: 100%;
  line-height: 15px;
  font-size: 13px;
  position: relative;
  font-family: "RobotoLight";
}
.fieldTextarea{
  background-color: rgba(0, 0, 0, 0.06);
  padding: 7px;
  font-family: "RobotoLight";
  line-height: 15px;
  font-size: 13px;
  color: #9C9C9C;
}
.controll__group{
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-transparent{
  background-color: transparent;
  color: #C9A876;
  border: 2px solid #C9A876;
  box-shadow: none;
  &:hover{
    background-color: transparent;
    box-shadow: 10px 10px 20px rgba(248, 189, 101, 0.5);
  }
}
.checkbox__label{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  text-align: left;
  padding-left: 28px;
  input{
    opacity: 0;
  }
  label{
    font-family: "RobotoLight";
  }
}