.button{
  font-family: "RobotoMedium";
  height: 45px;
  padding: 0 10px;
  min-width: 180px;
  border-radius: 45px;
  background-color: #C9A876;
  box-shadow: 10px 10px 20px rgba(248, 189, 101, 0.55);
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  &:hover{
    background-color: #C99445;
  }
}
.field{
  background-color: rgba(0, 0, 0, 0.06);
  color: #9C9C9C;
  padding: 0 10px;
  height: 30px;
  max-width: 330px;
  width: 100%;
  line-height: 22px;
  font-size: 16px;
  position: relative;
  font-family: "RobotoLight";
}
.fieldTextarea{
  background-color: rgba(0, 0, 0, 0.06);
  padding: 7px;
  font-family: "RobotoLight";
  line-height: 15px;
  font-size: 13px;
  color: #9C9C9C;
}
.controll__group{
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-transparent{
  background-color: transparent;
  color: #C9A876;
  border: 2px solid #C9A876;
  box-shadow: none;
  &:hover{
    background-color: transparent;
    box-shadow: 10px 10px 20px rgba(248, 189, 101, 0.5);
  }
}
.checkbox__label{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: left;
  padding-left: 28px;
  input{
    opacity: 0;
  }
  label{
    font-family: "RobotoLight";
  }
}
.viewAllButton{
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  width: fit-content;
  display: block;
  color: #C9A876;
  font-size: 16px;
  line-height: 22px;
  font-family: "RobotoLight";
  margin-bottom: 20px;
  border-bottom: 1px dashed #C9A876;
  &:hover{
    color: #7b5431;
    border-color: #7b5431;
  }
}