.footer{
  background-color: #577C9B;
  .container{
    max-width: calc(1366px - 250px);
  }
}

.footer__content{
  padding: 34px 0;
  display: flex;
  justify-content: space-between;
}

.footer__info{
  width: 37%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__logo{
  width: 126px;
  height: 55px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/logo_footer.svg");
}

.footer__contacts{
  display: flex;
  flex-wrap: wrap;
  a{
    width: 50%;
    min-width: fit-content;
    padding-left: 25px;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 10px;
    color: #ffffff;
    white-space: nowrap;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.watsup{
  &:before {
    width: 19px;
    height: 19px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='19' height='19' rx='8.5' fill='%2331DE76'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18 9.07921C17.8656 4.60198 14.17 1 9.63439 1C5.16601 1 1.50395 4.50099 1.33597 8.91089C1.30237 9.01188 1.30237 9.14653 1.30237 9.28119C1.30237 10.8297 1.73913 12.3109 2.51186 13.5564L1 18L5.63636 16.5188C6.84585 17.1584 8.22332 17.5287 9.66798 17.5287C14.2708 17.5287 18 13.8257 18 9.24752C18 9.21386 18 9.14653 18 9.07921ZM13.4644 10.9644C13.2628 10.8634 12.2549 10.3584 12.087 10.2911C11.8854 10.2238 11.751 10.1901 11.6166 10.3921C11.4822 10.5941 11.0791 11.0317 10.9783 11.1663C10.8439 11.301 10.7431 11.3347 10.5415 11.2337C10.3063 11.1327 9.66798 10.9307 8.89526 10.2238C8.29051 9.68515 7.85375 9.01188 7.75296 8.84356C7.65217 8.60792 7.71937 8.54059 7.82016 8.40594C7.92095 8.33861 8.02174 8.1703 8.12253 8.06931C8.15613 8.03564 8.18972 8.00198 8.18972 7.96832C8.25692 7.90099 8.25692 7.83366 8.32411 7.73267C8.3913 7.59802 8.35771 7.46337 8.29051 7.39604C8.25692 7.29505 7.85375 6.28515 7.65217 5.88119C7.48419 5.47723 7.31621 5.54455 7.21542 5.54455C7.08103 5.54455 6.94664 5.51089 6.81225 5.51089C6.67787 5.51089 6.44269 5.54455 6.2747 5.7802C6.07312 5.98218 5.53557 6.45347 5.53557 7.46337C5.53557 7.69901 5.56917 7.93465 5.66996 8.13663C5.87154 8.87723 6.3083 9.4495 6.37549 9.55049C6.47628 9.68515 7.78656 11.8059 9.86957 12.6139C11.9526 13.4218 11.9526 13.1525 12.3221 13.1188C12.6917 13.0851 13.5316 12.6475 13.6996 12.1426C13.8676 11.6713 13.8676 11.2673 13.8004 11.1663C13.8004 11.1327 13.666 11.0653 13.4644 10.9644ZM9.63439 16.2495C8.22332 16.2495 6.87945 15.8119 5.77075 15.105L3.083 15.9465L3.95652 13.3545C3.1166 12.2099 2.61265 10.796 2.61265 9.28119C2.61265 9.04554 2.61265 8.84356 2.64625 8.60792C2.98221 5.07327 6.00593 2.31287 9.63439 2.31287C13.33 2.31287 16.3538 5.14059 16.6225 8.74257C16.6561 8.91089 16.6561 9.11287 16.6561 9.28119C16.6561 13.1188 13.5316 16.2495 9.63439 16.2495Z' fill='white'/%3E%3C/svg%3E");
  }
}

.viber{
  &:before {
    width: 20px;
    height: 19px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='20' height='19' rx='6' fill='%23B857F3'/%3E%3Cpath d='M9.16439 1.11328C9.54114 1.11328 9.94143 1.11328 10.3182 1.11328C10.5301 1.13632 10.7656 1.15935 10.9775 1.18239C11.8723 1.29756 12.767 1.36667 13.6383 1.50488C14.2269 1.62006 14.7921 1.82737 15.3336 2.03469C17.1703 2.74878 18.0886 4.17697 18.5124 5.97372C19.0305 8.23117 18.9834 10.5117 18.536 12.7691C18.0886 15.0726 16.6993 16.593 14.2976 17.1458C13.497 17.3301 12.6964 17.5144 11.8723 17.5835C10.8362 17.6756 9.80015 17.6295 8.7641 17.6295C8.57572 17.6295 8.41089 17.6526 8.29316 17.8138C8.22252 17.929 8.12833 18.0211 8.03415 18.1363C7.42193 18.7583 6.97454 19.5184 6.17396 19.9791C6.07977 19.9791 6.00913 19.9791 5.91494 19.9791C5.51465 19.7718 5.39691 19.4263 5.39691 18.9886C5.42046 18.4818 5.39691 17.952 5.39691 17.4453C5.39691 17.1919 5.32627 17.0767 5.06726 16.9846C3.3719 16.4547 2.24165 15.2799 1.65298 13.5984C1.25269 12.4697 1.11141 11.2949 1.11141 10.1201C1.11141 8.71491 1.08786 7.30976 1.44106 5.92764C1.84136 4.40732 2.54776 3.11735 4.0312 2.33415C5.20854 1.7122 6.50361 1.41274 7.82223 1.25149C8.26961 1.20542 8.717 1.15935 9.16439 1.11328ZM5.98558 19.3111C6.00913 19.3111 6.05622 19.3341 6.07977 19.3341C6.22105 19.1959 6.33878 19.0577 6.48006 18.9426C7.21001 18.1594 7.91641 17.3762 8.64636 16.616C8.74055 16.5008 8.95247 16.4317 9.1173 16.4317C10.8127 16.4778 12.4609 16.2935 14.1092 15.8789C15.6633 15.4642 16.6993 14.5428 17.1703 13.0686C17.4057 12.3084 17.4999 11.5022 17.5706 10.6959C17.7118 9.31382 17.6648 7.93171 17.3822 6.57263C16.9819 4.68374 15.9458 3.39377 13.9679 2.93306C13.0496 2.72575 12.1313 2.5645 11.1894 2.47236C9.54114 2.31111 7.93996 2.40325 6.36233 2.81789C4.47859 3.30163 3.18352 4.36125 2.73613 6.25014C2.2652 8.20813 2.21811 10.1892 2.6184 12.1702C2.9716 13.9669 3.96056 15.2799 5.79721 15.8789C5.8914 15.9019 5.98558 16.1092 5.98558 16.2244C6.00913 17.1458 5.98558 18.0672 5.98558 18.9886C5.98558 19.1038 5.98558 19.219 5.98558 19.3111Z' fill='white'/%3E%3Cpath d='M6.76392 5.09863C6.8581 5.1447 7.09357 5.19077 7.2113 5.32899C7.65869 5.90487 8.12963 6.45771 8.50637 7.07966C8.78893 7.51733 8.69475 7.72465 8.29445 8.07018C7.63514 8.59999 7.5645 8.87641 7.94125 9.63657C8.43573 10.6271 9.23632 11.3412 10.2724 11.7558C10.7669 11.9631 10.9788 11.9171 11.2613 11.4794C11.6616 10.8805 12.1561 10.8114 12.7448 11.226C13.2393 11.5715 13.7102 11.9401 14.1811 12.2856C14.4166 12.4699 14.5108 12.7233 14.4166 12.9767C14.1576 13.6217 13.7337 14.1515 13.0509 14.4049C12.839 14.474 12.5329 14.4509 12.3209 14.3818C8.88312 12.9997 6.52845 10.6271 5.20983 7.28698C4.88018 6.48075 4.99791 6.15825 5.72786 5.60541C5.98687 5.37506 6.24589 5.09863 6.76392 5.09863Z' fill='white'/%3E%3Cpath d='M9.87206 5.12127C10.9081 5.09823 11.85 5.42073 12.6741 6.08875C13.8279 7.01016 14.2988 8.55352 14.0869 9.68224C14.0634 9.49796 14.0163 9.29065 14.0163 9.10636C13.875 6.96409 12.2738 5.42073 10.084 5.28252C10.0133 5.28252 9.9427 5.25948 9.84851 5.23645C9.84851 5.16734 9.84851 5.1443 9.87206 5.12127Z' fill='white'/%3E%3Cpath d='M12.933 9.3366C12.8624 7.51681 11.9441 6.5263 10.131 6.36505C10.5313 6.1347 11.5202 6.45719 12.1089 6.94093C12.8153 7.49378 13.2156 8.71464 12.933 9.3366Z' fill='white'/%3E%3Cpath d='M10.5548 7.4938C11.4025 7.35559 12.0618 8.06968 11.8499 8.87591C11.7557 8.11575 11.426 7.56291 10.5548 7.4938Z' fill='white'/%3E%3C/svg%3E");
  }
}

.skipe{
  &:before {
    width: 22px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='22' height='21' viewBox='0 0 22 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='22' height='21' rx='10.5' fill='%23579FF3'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.5523 11.7228C18.6887 11.177 18.7228 10.6652 18.7228 10.1194C18.7228 9.91471 18.7228 9.71002 18.6887 9.53945C18.4159 5.6162 15.1417 2.54584 11.0831 2.54584C10.6397 2.54584 10.1964 2.57996 9.78709 2.64819C9.10497 2.23881 8.28642 2 7.43377 2C4.97815 2 3 3.94456 3 6.36674C3 7.15139 3.20464 7.93603 3.61391 8.58422C3.5457 8.85714 3.51159 9.13006 3.47748 9.40299C3.47748 9.64179 3.44338 9.84648 3.44338 10.0853C3.44338 14.2473 6.85397 17.6247 11.0831 17.6247C11.5606 17.6247 12.0381 17.5906 12.4815 17.4883C13.0954 17.8294 13.8116 18 14.5619 18C17.0175 18 18.9957 16.0213 18.9957 13.6333C19.0298 12.951 18.8593 12.3028 18.5523 11.7228ZM15.0053 13.7015C14.6642 14.1791 14.1526 14.5885 13.4705 14.8614C12.7884 15.1343 12.004 15.2708 11.0831 15.2708C9.99172 15.2708 9.07086 15.1002 8.35464 14.7249C7.84305 14.452 7.43377 14.0768 7.09272 13.6333C6.78576 13.1898 6.61523 12.7122 6.61523 12.2687C6.61523 11.9957 6.71755 11.7569 6.92219 11.5522C7.12682 11.3817 7.39967 11.2452 7.70662 11.2452C7.94536 11.2452 8.18411 11.3134 8.38874 11.484C8.55927 11.6205 8.6957 11.8252 8.83212 12.1322C8.96854 12.4392 9.10497 12.7122 9.2755 12.8827C9.41192 13.0533 9.65066 13.258 9.92351 13.3945C10.1964 13.5309 10.5715 13.565 11.049 13.565C11.697 13.565 12.2086 13.4286 12.5838 13.1557C12.9589 12.8827 13.1295 12.6098 13.1295 12.2345C13.1295 11.9275 13.0613 11.6887 12.8566 11.5181C12.6179 11.3475 12.345 11.177 12.0381 11.0746C11.697 10.9723 11.2195 10.8358 10.6397 10.7335C9.8553 10.5629 9.17318 10.3582 8.62748 10.1535C8.08179 9.91471 7.63841 9.60768 7.33146 9.19829C7.22914 9.06183 7.16093 8.92537 7.05861 8.78891C6.88808 8.48188 6.81987 8.10661 6.81987 7.69723C6.81987 7.15139 6.9904 6.60554 7.33146 6.19616C7.67252 5.75267 8.15 5.41151 8.83212 5.17271C9.48013 4.9339 10.2305 4.79744 11.0831 4.79744C11.7652 4.79744 12.3791 4.86567 12.8907 5.03625C13.4023 5.20682 13.8116 5.41151 14.1526 5.65032C14.4937 5.92324 14.7325 6.19616 14.903 6.46908C15.0735 6.77612 15.1417 7.04904 15.1417 7.32196C15.1417 7.59488 15.0394 7.83369 14.8348 8.03838C14.6301 8.24307 14.3573 8.37953 14.0503 8.37953C13.7775 8.37953 13.5387 8.3113 13.4023 8.17484C13.2659 8.03838 13.0954 7.8678 12.9589 7.56077C12.7884 7.21962 12.5497 6.91258 12.2768 6.70789C12.0381 6.53731 11.5947 6.43497 11.0149 6.43497C10.4692 6.43497 10.0258 6.53731 9.68477 6.77612C9.37781 6.98081 9.20728 7.21962 9.20728 7.49254C9.20728 7.66311 9.2755 7.79957 9.37781 7.93603C9.48013 8.07249 9.65066 8.17484 9.82119 8.27719C10.0258 8.37953 10.2305 8.44776 10.4351 8.51599C10.4692 8.55011 10.5033 8.55011 10.5715 8.55011C10.7762 8.61834 11.1172 8.68657 11.4924 8.78891C12.1063 8.92537 12.6861 9.06183 13.1977 9.23241C13.7093 9.40299 14.1185 9.60768 14.4937 9.84648C14.8689 10.0853 15.1417 10.3923 15.3464 10.7335C15.551 11.1087 15.6533 11.5522 15.6533 12.064C15.551 12.6439 15.3805 13.1898 15.0053 13.7015Z' fill='white'/%3E%3C/svg%3E");
  }
}

.email{
  &:before {
    width: 22px;
    height: 19px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='22' height='19' viewBox='0 0 22 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='22' height='19' rx='8' fill='%23A3A3A3'/%3E%3Cpath d='M3.18343 3.21665C3.43528 3.18307 3.67035 3.09912 3.90541 3.09912C8.4556 3.09912 13.0058 3.09912 17.556 3.09912C17.7911 3.09912 18.0429 3.16628 18.278 3.21665C18.2948 3.25023 18.3116 3.28382 18.3283 3.33419C18.2444 3.38456 18.1604 3.41814 18.0933 3.4853C15.7762 5.78558 13.4759 8.08586 11.1589 10.3694C10.8063 10.722 10.6384 10.722 10.2858 10.3694C8.00226 8.06907 5.68519 5.76879 3.36812 3.46851C3.30096 3.41814 3.21701 3.38456 3.13306 3.33419C3.14985 3.30061 3.16664 3.25023 3.18343 3.21665Z' fill='white'/%3E%3Cpath d='M3.33459 15.4567C5.11437 13.6433 6.87736 11.8468 8.67393 10.0166C9.02653 10.3692 9.32876 10.705 9.66456 11.0408C10.3698 11.7292 11.1253 11.7292 11.8137 11.0408C12.1327 10.7218 12.4518 10.386 12.7708 10.0502C14.5674 11.8635 16.3303 13.6601 18.0933 15.4567C17.9422 15.4735 17.7239 15.5238 17.5057 15.5238C14.3994 15.5238 11.31 15.5238 8.2038 15.5238C6.79341 15.5238 5.36623 15.5238 3.95584 15.5238C3.73756 15.5238 3.53608 15.4903 3.33459 15.4567Z' fill='white'/%3E%3Cpath d='M2.57901 14.7852C2.54543 14.5501 2.47827 14.3486 2.47827 14.1639C2.47827 10.9234 2.47827 7.69963 2.47827 4.45909C2.47827 4.30798 2.51185 4.17365 2.52864 3.97217C4.342 5.81911 6.12178 7.64926 7.85119 9.39546C6.15536 11.1417 4.39237 12.9382 2.57901 14.7852Z' fill='white'/%3E%3Cpath d='M13.6104 9.37867C15.3398 7.63247 17.1195 5.81911 18.9329 3.97217C18.9665 4.15686 19.0001 4.29119 19.0001 4.42551C19.0001 7.68284 19.0001 10.9234 19.0001 14.1807C19.0001 14.3654 18.9497 14.5501 18.9161 14.7516C17.1195 12.9214 15.3398 11.1249 13.6104 9.37867Z' fill='white'/%3E%3C/svg%3E");
  }
}

.footer__nav{
  width: 60%;
  display: flex;
  color: #ffffff;
}

.footer__nav_box{
  flex-grow: 1;
}

.footer__nav_title{
  text-transform: uppercase;
  font-family: "RobotoMedium";
  font-size: 18px;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 15px;
}
.footer__nav_list{
  column-count: 2;
  a{
    line-height: 30px;
    font-size: 14px;
    display: block;
    color: #ffffff;
    &:hover{
      text-decoration: underline;
    }
  }
}

.footer__copy{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #284269;
}

@media (max-width: 1023px){
  .footer__contacts{
    column-count: 1;
  }
}
@media (max-width: 767px){
  .footer__info{
    width: 100%;
    max-width: 400px;
    align-items: center;
  }
  .footer__contacts{
    column-count: 2;
    margin-bottom: 50px;
    a{
      font-size: 13px;
      line-height: 27px;
    }
  }
  .footer__content{
    flex-direction: column;
    align-items: center;
  }
  .footer__logo{
    width: 147px;
    height: 64px;
    margin-bottom: 50px;
    background-size: cover;
  }
  .footer__nav{
    width: 100%;
    flex-direction: column;
  }
  .footer__nav_box{
    &:not(:last-child){
      margin-bottom: 50px;
    }
  }
}