.header{
  position: relative;
  background-color: #284269;
  width: 100%;
}
.logo{
  width: 301px;
  height: 85px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
  background-image: url("../images/logo.svg");
  background-position: 43% 30%;
  background-repeat: no-repeat;
  border-bottom-right-radius: 52px;
  box-shadow: 2px 2px 10px rgba(177, 177, 177, 0.55);
}
.header__topLine{
  height: 27px;
  line-height: 27px;
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  font-size: 17px;
  color: #ae7f4c;
}

.header__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  &:before{
    content: '';
    display: block;
    width: 185px;
  }
}

nav{
  .closeMenu{
    display: none;
  }
}
.navigation{
  display: flex;
  font-family: "RobotoMedium";
}
.navigation__item{
  display: block;
  color: #ffffff;
  font-size: 18px;
  height: 42px;
  line-height: 42px;
  margin: 0 23px;
  font-weight: 500;
  position: relative;
  &:hover{
    &:after{
      content: '';
      width: 100%;
      height: 4px;
      background-color: #5699D1;
      top: 100%;
      position: absolute;
      z-index: 1;
      left: 0;
    }
  }
}
.dropdown{
  &:hover{
    .dropdown__list{
      display: flex;
    }
  }
}
.dropdown__list{
  position: absolute;
  padding: 10px 0;
  top: 100%;
  left: 0;
  width: 214px;
  background-color: #ffffff;
  z-index: 1;
  display: none;
  flex-direction: column;

}
.dropdown__item{
  font-size: 18px;
  line-height: 30px;
  height: 30px;
  font-family: "RobotoMedium";
  color: rgba(0, 0, 0, 0.5);
  padding: 0 20px;
  cursor: pointer;
  &:hover{
    background-color: #5699D1;
    color: #ffffff;
  }
}

.auth{
  display: flex;
  align-items: flex-end;
  div:first-child{
    margin-right: 25px;
  }
  a{
    display: block;
    font-weight: 500;
    height: 42px;
    font-size: 18px;
    line-height: 42px;
    color: #ffffff;
    position: relative;
    width: fit-content;
    &:after{
      content: '';
      border-bottom: 1px dashed;
      bottom: 8px;
      position: absolute;
      left: 0;
      width: 100%;
    }

    &:hover{
      color: #E3D2BA;
    }
  }
}
@media (max-width: 1365px){
  .logo{
    width: 250px;
    background-size: 55%;
  }
  .navigation__item{
    margin: 0 15px;
    font-size: 16px;
  }
  .auth{
    a{
      font-size: 16px;
    }
  }
}
@media (max-width: 1023px){
  .logo{
    width: 180px;
    height: 78px;
    background-size: 110px;
  }
  .header__content:before{
    width: 150px;
  }
  .navigation__item{
    margin: 0 10px;
  }
}
@media (max-width: 768px){
  .header__content:before{
    display: none;
  }
  .openMenu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33px;
    height: 25px;
    cursor: pointer;
    span{
      height: 2px;
      background-color: #ffffff;
      &:first-child{
        width: 33px;
      }
      &:nth-child(2){
        width: 27px;
      }
      &:last-child{
        width: 21px;
      }
    }
  }
  .header__content{
    height: 70px;
  }
  .logo {
    width: 163px;
    border-bottom-left-radius: 43px;
    border-bottom-right-radius: 43px;
    left: 50%;
    transform: translate(-50%);
  }
  .auth{
    flex-direction: column;
    >div:first-child{
      margin: 0;
    }
    a{
      font-size: 15px;
      height: 30px;
      line-height: 25px;
      text-align: right;
      font-family: "RobotoMedium";
    }
  }
  .header__topLine{
    display: none;
  }
  nav{
    display: none;
    position: fixed;
    overflow-y: auto;
    background-color: #284269;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9;
    .closeMenu{
      display: block;
    }
  }
  .navigation{
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    padding: 30px 0;
  }
  .navigation__item{
    text-align: center;
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    margin-bottom: 40px;
    height: 27px;
  }
}