/* section cover */
.cover{
  position: relative;
  display: flex;
  min-height: 570px;
  overflow: hidden;
  img{
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.cover__content{
  height: 100%;
  width: 100%;
  max-width: 570px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.cover__title{
  font-size: 40px;
  line-height: 47px;
  font-family: "RobotoBold";
  width: 100%;
  max-width: 415px;
  margin-bottom: 40px;
}
.cover_description{
  font-family: "RobotoMedium";
  width: 100%;
  max-width: 328px;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 34px;
}
/* end section cover */
/* section features */
.features{
  padding-bottom: 70px;
}
.features__list{
  display: flex;
  justify-content: space-between;
}
.features__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  span{
    width: 110px;
    height: 110px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
  }
  p{
    max-width: 180px;
    text-align: center;
    font-size: 17px;
    line-height: 21px;
  }
}
/* end section features */
/* section quickForm */
.quickForm{
  min-height: 336px;
  background-size: cover;
  padding: 45px 0 52px;
}
.quickForm__title{
  color: #ffffff;
  text-align: center;
  width: 100%;
  max-width: 830px;
  font-size: 27px;
  line-height: 36px;
  font-family: "RobotoBold";
  margin: 0 auto 13px;
}
.quickForm__description{
  color: #ffffff;
  text-align: center;
  width: 100%;
  font-size: 20px;
  line-height: 32px;
  margin: 0 auto 40px;
}
.quickForm__wrapper{
  background-color: #ffffff;
  width: 100%;
  max-width: 972px;
  margin: 0 auto;
}
.quickForm__formBox{
  padding: 21px 37px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
/* end section quickForm */
/* section regForm */
.regFormWrapper{
  padding: 46px 0;
  background-size: cover;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.regFormText{
  max-width: 360px;
  li{
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    margin-bottom: 17px;
    &:before{
      content: '';
      display: inline-block;
      width: 17px;
      height: 13px;
      margin-right: 12px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='17' height='13' viewBox='0 0 17 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.70711 9.88847L15 0.208374L16.4142 1.68151L5.70711 12.8348L0 6.88985L1.41421 5.41671L5.70711 9.88847Z' fill='%23E7C565'/%3E%3C/svg%3E");
    }
  }
}
.regFormText__title{
  color: #ffffff;
  font-size: 30px;
  line-height: 38px;
  margin-bottom: 62px;
  font-family: "RobotoMedium";
}
.regFormText__description{
  font-size: 21px;
  line-height: 34px;
  color: #ffffff;
  margin-bottom: 29px;
}
.regForm{
  width: 100%;
  max-width: 323px;
  .field{
    margin-bottom: 10px;
  }
}
.regForm__box{
  padding: 26px 30px 34px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.regForm__title{
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 13px;
}
.regForm__social{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.socialLink{
  max-width: 130px;
  width: calc((100% - 7px) / 2);
  background-color: #F5F5F5;
  height: 32px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}
/* end section regForm */
/* section featuresMini */
.featuresMini{
  background: linear-gradient(90deg, #E6E4E4 0.77%, #F7F6F6 100%)
}
.featuresMini__list{
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 114px;
  justify-content: space-between;
}
.featuresMini__item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 273px;
}
.featuresMini__icon{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.featuresMini__text{
  max-width: 175px;
  font-size: 17px;
  line-height: 22px;
}
/* end section featuresMini */
/* section stories */
.stories{
  background-image: url("../images/Love_stories.jpg");
  background-repeat: no-repeat;
  padding-bottom: 60px;
  .section__title{
    padding: 25px 0 42px;
  }
}
.stories__list{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.stories__item{
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.elipseFrame{
  width: 210px;
  height: 210px;
  border-radius: 50%;
  margin: 0 auto;
  border: 11px solid rgba(45, 82, 137, 0.5);
  overflow: hidden;
  margin-bottom: 48px;
  img{
    display: block;
  }
}
.story__title{
  color: #224B7B;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 31px;
  font-family: "RobotoMedium";
}
.story__description{
  p{
    font-size: 17px;
    line-height: 25px;
  }
}
/* end section stories */







/* section contacts */
.contactsWrapper{
  display: flex;
}
.map{
  flex-grow: 1;
}
.contacts{
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 443px;
  width: 100%;
  min-height: 369px;
  line-height: 30px;
  flex-direction: column;
}
.contacts__title{
  font-family: "RobotoMedium";
  font-size: 28px;
  line-height: 36px;
  color: #7b5431;
  width: 100%;
  max-width: 256px;
  margin-bottom: 13px;
}
/* end section contacts */