/* section cover */
.cover{
  position: relative;
  display: flex;
  min-height: 570px;
  overflow: hidden;
  img{
    min-width: 100%;
    min-height: 100%;
    display: block;
    position: absolute;
    transform: translate(-50%, 0);
    margin-left: 50%;
    top: 0;
    left: 0;
  }
}
.cover__content{
  height: 100%;
  width: 100%;
  max-width: 570px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.cover__title{
  font-size: 40px;
  line-height: 47px;
  font-family: "RobotoBold";
  width: 100%;
  max-width: 415px;
  margin-bottom: 40px;
}
.cover_description{
  font-family: "RobotoMedium";
  width: 100%;
  max-width: 328px;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 34px;
}
/* end section cover */
/* section features */
.features{
  padding-bottom: 60px;
}
.features__list{
  display: flex;
  padding-top: 9px;
  justify-content: space-between;
}
.features__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  span{
    width: 110px;
    height: 110px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
  }
  p{
    max-width: 180px;
    text-align: center;
    font-size: 17px;
    line-height: 21px;
  }
}
/* end section features */
/* section quickForm */
.quickForm{
  min-height: 336px;
  background-size: cover;
  padding: 44px 0 52px;
}
.quickForm__title{
  color: #ffffff;
  text-align: center;
  width: 100%;
  max-width: 830px;
  font-size: 27px;
  line-height: 36px;
  font-family: "RobotoBold";
  margin: 0 auto 9px;
}
.quickForm__description{
  color: #ffffff;
  text-align: center;
  width: 100%;
  font-size: 20px;
  line-height: 32px;
  margin: 0 auto 40px;
}
.quickForm__wrapper{
  background-color: #ffffff;
  width: 100%;
  max-width: 972px;
  margin: 0 auto;
}
.quickForm__formBox{
  padding: 21px 37px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
/* end section quickForm */
/* section regForm */
.regFormWrapper{
  padding: 58px 0 48px;
  background-size: cover;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.regFormText{
  max-width: 386px;
  ul{
    padding: 0;
    margin: 0;
  }
  li{
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    margin-bottom: 17px;
    &:before{
      content: '';
      display: inline-block;
      width: 21px;
      margin-right: 12px;
      background-position: center;
      background-repeat: no-repeat;
      height: 21px;
      vertical-align: top;
    }
  }
}
.regFormText__title{
  color: #ffffff;
  font-size: 30px;
  line-height: 38px;
  margin-bottom: 62px;
  font-family: "RobotoMedium";
}
.regFormText__description{
  font-size: 21px;
  line-height: 34px;
  color: #ffffff;
  margin-bottom: 29px;
  font-family: "RobotoMedium";
}
.regForm{
  width: 100%;
  max-width: 310px;
  margin-top: -14px;
  .field{
    margin-bottom: 10px;
    height: 35px;
  }
  .button{
    margin-top: 10px;
  }
}
.regForm__box{
  padding: 26px 30px 34px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.regForm__title{
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 13px;
}
.regForm__title-second{
  margin-bottom: 19px;

}
.regForm__social{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.socialLink{
  max-width: 130px;
  width: calc((100% - 7px) / 2);
  background-color: #F5F5F5;
  height: 32px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}
/* end section regForm */
/* section featuresMini */
.featuresMini{
  background: linear-gradient(90deg, #E6E4E4 0.77%, #F7F6F6 100%)
}
.featuresMini__list{
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 114px;
  justify-content: space-between;
}
.featuresMini__item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 273px;
}
.featuresMini__icon{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.featuresMini__text{
  max-width: 175px;
  font-size: 17px;
  line-height: 22px;
}
/* end section featuresMini */
/* section videoTestimonials */
.videoTestimonials{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0.03) 100%);
}
.videoTestimonials__list{
  display: flex;
  justify-content: space-between;
}
.videoTestimonial__item{
  width: calc((100% - 18px) / 2);
}
.video{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.video__view{
  margin-bottom: 25px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 375px;
  &:hover{
    .video__controlls{
      opacity: 1;
    }
  }
}
.video__title{
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 43px;
}
.video__controlls{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.25);
  width: 90px;
  height: 90px;
  border: 7px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  background-size: 35px;
  background-position: center;
  background-repeat: no-repeat;
}
.played .video__controlls{
  opacity: 0;
  transition: opacity 1s;
}
.videoTestimonials .slick-list{
  margin: 0 -9px;
}
.videoTestimonials .slick-slide{
  margin: 0 9px;
}

/* end section videoTestimonials */
/* section stories */
.stories{
  background-image: url("../images/Love_stories.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 44px;
  .section__title{
    padding: 25px 0 42px;
  }
}
.stories__list{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.stories__item{
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.elipseFrame{
  width: 210px;
  height: 210px;
  border-radius: 50%;
  margin: 0 auto;
  border: 11px solid rgba(45, 82, 137, 0.5);
  overflow: hidden;
  margin-bottom: 48px;
  img{
    display: block;
  }
}
.story__title{
  color: #224B7B;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 31px;
  font-family: "RobotoMedium";
}
.story__description{
  p{
    font-size: 17px;
    line-height: 28px;
  }
}
.stories .slick-initialized .slick-slide
{
  >div{
    display: flex;
  }
  &:first-child>div{
    justify-content: flex-start;
  }
  &:nth-child(2)>div{
    justify-content: center;
  }
  &:last-child>div{
    justify-content: flex-end;
  }
}
@media (max-width: 1023px){
  .stories .slick-initialized .slick-slide
  {
    &:first-child{
      justify-content: center;
    }
    &:last-child{
      justify-content: center;
    }
  }
}
/* end section stories */
/* section tariffs */
.tariffs{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0.03) 100%);
}
.tariffs__list{
  position: relative;
  margin: -12px 0 -195px;
  display: flex;
  justify-content: space-between;
}
.tariffs__item{
  display: flex!important;
  flex-direction: column;
  position: relative;
  background-color: #ffffff;
  box-shadow: 15px 15px 40px rgba(222, 222, 222, 0.6);
  padding: 114px 15px 35px;
  margin: 0;
  align-items: center;
  min-height: 100%;
  width: calc((100% - 32px) / 3);
}
.tariffs__mark{
  width: 40px;
  height: 41px;
  position: absolute;
  top: 9px;
  left: 14px;
  background-repeat: no-repeat;
  background-position: center;
}
.tariffs__label{
  background-color: #C99445;
  border-radius: 0 0 0 50px;
  padding: 0 37px;
  height: 52px;
  position: absolute;
  top: 0;
  right: 0;
  color: #ffffff;
  line-height: 52px;
  text-align: center;
  font-size: 22px;
  font-family: "RobotoBold";
}
.tariffs__label-red{
  background-color: #F25E1F;
}
.tariffs__label-pink{
  background-color: #FA285A;
}
.tariffs__title{
  font-family: "RobotoMedium";
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  max-width: 306px;
  margin: 0 auto 32px;
}
.tariffs__descripion{
  max-width: 306px;
  font-size: 16px;
  line-height: 22px;
  font-family: "RobotoLight";
  margin: 0 auto 28px;
}
.tariffs__features{
  padding: 0;
  margin: 0 auto 37px;
  max-width: 306px;
  width: 100%;
  flex-grow: 1;
  li{
    margin-bottom: 12px;
  }
}
.tariffs .button{
  margin: 0 auto;
  display: block;
}
.button-red{
  background-color: #D57C55;
  box-shadow: 10px 10px 20px rgba(255, 142, 61, 0.55);
}
.button-pink{
  background: #EF6082;
  box-shadow: 10px 10px 20px rgba(239, 106, 180, 0.55);
}
.tariffs .slick-list{
  margin: 0 -9px;
}
.tariffs .slick-slide{
  margin: 0 9px;
}
/* end section tariffs */
/* section simpleInfo */
.simpleInfo{
  background-position: center;
  background-size: cover;
  background-image: url("../images/BG_girl_in_white_dress.jpg");
  min-height: 825px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 80px 0;
  .container{
    display: flex;
    justify-content: flex-end;
  }
}
.simpleInfo__content{
  display: flex;
  flex-direction: column;
  max-width: 605px;
  align-items: center;
}
.simpleInfo__title{
  font-size: 30px;
  line-height: 35px;
  color: #7B5431;
  margin-bottom: 57px;
  width: 100%;
  font-family: "RobotoMedium";
}
.simpleInfo__text{
  margin-bottom: 79px;
  p{
    font-size: 17px;
    line-height: 25px;
    font-family: 'RobotoRegular';
  }
}
/* end section simpleInfo */

/* section contacts */
.contactsWrapper{
  display: flex;
}
.map{
  flex-grow: 1;
}
.contacts{
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 443px;
  width: 100%;
  min-height: 369px;
  line-height: 30px;
  flex-direction: column;
}
.contacts__title{
  font-family: "RobotoMedium";
  font-size: 28px;
  line-height: 36px;
  color: #7b5431;
  width: 100%;
  max-width: 256px;
  margin-bottom: 13px;
}
/* end section contacts */