/*--- media ---*/
@media (max-width: 1365px){
  .container{
    padding: 0 30px;
  }
}
@media (max-width: 1023px){
  .container{
    padding: 0 20px;
  }
  .candidate__list{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px 12px
  }
  .candidate__item{
    min-width: 147px;
  }
  .candidateProfile__box{
    flex-direction: column;
    align-items: center;
  }
  .quickForm__formBox{
    flex-wrap: wrap;
    justify-content: space-around;
    .field{
      margin: 6px 0;
      &:last-child{
        margin-bottom: 37px;
      }
    }
  }
  .profile__content, .profile__contentBox{
    padding: 30px 20px;
  }
  .aboutProfile__box{
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 13px;
    height: auto;
    justify-content: space-between;
  }
  .aboutProfile__text{
    width: 100%;
    margin-bottom: 15px;
  }
  .specialOffer{
    padding: 38px 20px 10px 20px;
    flex-direction: column;
    min-height: 293px;
    background-position-x: 92%;
  }
  .specialOffer .button{
    top: auto;
    max-width: 180px;
  }
}
@media (max-width: 767px){
  ol, ul {
    padding: 0;
    margin-top: 35px;
    li{
      font-family: "RobotoLight";
      line-height: 22px;
      margin-bottom: 24px;
      padding-left: 14px;
      &:before{
        background-position-x: 0;
      }
    }
  }
  .section__title{
    line-height: 40px;
    padding: 40px 0 30px;
  }
  /*-----------------COVER Section------------------*/
  .cover{
    height: 587px;
  }
  .cover__content{
    padding: 33px 0 40px;
  }
  .cover__title{
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 15px;
  }
  .cover_description{
    flex-grow: 1;
  }
  /*-----------------features Section------------------*/
  .features{
    background-color: #ffffff;
    padding-top: 18px;
    padding-bottom: 8px;
  }
  .features__list{
    flex-wrap: wrap;
    padding-top: 20px;
  }
  .features__item{
    width: 45%;
    span{
      width: 77px;
      height: 84px;
      margin-bottom: 20px;
    }
    p{
      font-size: 17px;
      line-height: 21px;
      font-family: "RobotoRegular";
      margin-bottom: 50px;
    }
  }
  /*-----------------featuresMini Section------------------*/

  .featuresMini__list{
    padding-top: 40px;
    flex-direction: column;
  }
  .featuresMini__item{
    margin-bottom: 40px;
  }
  /*-----------------tariffs Section------------------*/

  .tariffs{
    background: #ffffff;
    padding-top: 21px;
  }
  .tariffs__list{
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    padding-top: 14px;
  }
  .tariffs__item{
    padding-bottom: 35px;
    max-width: 450px;
    width: 100%;
    &:not(:last-child){
      margin-bottom: 40px;
    }
  }
  .tariffs__descripion{
    margin-bottom: 60px;
  }
  .tariffs__features{
    display: none;
  }
  /*-----------------regFormWrapper Section------------------*/

  .regFormWrapper{
    padding: 61px 0 47px;
    background-position-y: 40%;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #003867;
  }
  .regFormWrapper .container{
    flex-direction: column;
    align-items: center;
  }
  .regFormText__title{
    margin-bottom: 32px;
  }
  .regFormText__description{
    font-size: 21px;
    line-height: 34px;
    margin-bottom: 23px;
  }
  .regFormText {
    ul{
      margin-bottom: 80px;
    }
    li{
      padding-left: 28px;
      margin-bottom: 21px;
    }

  }
  .regForm{
    margin-top: 0;
    transform: translate(0);
  }
  /*-----------------simpleInfo Section------------------*/

  .simpleInfo{
    padding-bottom: 60px;
    padding-top: 49px;
    min-height: 693px;
    background-position: right;
  }
  .simpleInfo__content{
    max-width: 100%;
  }
  .simpleInfo__title{
    line-height: 40px;
    text-align: center;
    margin-bottom: 30px;
  }
  .simpleInfo__text {
    margin-bottom: 33px;
  }
  /*-----------------videoTestimonials Section------------------*/

  .videoTestimonials{
    background: #ffffff;
    padding-top: 18px;
    .slick-list{
      margin: 0;
    }
    .slick-dots{
      bottom: -3px;
    }
  }
  .video__view{
    min-height: 239px;
  }
  .video__controlls{
    width: 60px;
    height: 60px;
    background-size: 20px;
  }
  .video__title{
    font-size: 16px;
    font-family: "RobotoRegular";
  }
  .videoTestimonials__list{
    margin-top: 0;
  }
  /*-----------------stories Section------------------*/
  .stories{
    padding-bottom: 65px;
    .slick-dots{
      bottom: -40px;
    }
  }
  .stories .section__title{
    padding: 62px 0 42px;

  }
  .elipseFrame{
    width: 160px;
    height: 160px;
    border-width: 8px;
    margin-bottom: 43px;
  }
  .story__title{
    margin-bottom: 29px;
  }
  .story__description p{
    line-height: 25px;
  }
  /*-----------------quickForm Section------------------*/
  .quickForm{
    padding: 34px 0 52px;
    background-size: auto 67%;
    background-position-x: 13%;
    .button{
      margin-top: 31px;
    }
  }
  .quickForm__title{
    margin-bottom: 16px;
  }
  .quickForm__description{
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 14px;
  }
  .quickForm__wrapper{
    max-width: 500px;
  }
  .quickForm__formBox{
    padding: 33px 20px 37px;
    flex-direction: column;
  }
  .quickForm__formBox{
    .field{
      &:last-child{
        margin-bottom: 37px;
      }
    }
  }
  .contacts__title{
    font-size: 24px;
  }
  .contactsWrapper{
    flex-direction: column;
  }
  .contacts{
    max-width: 100%;
    min-height: 295px;
  }
  .pagination{
    justify-content: center;
  }
  .pagination__list{
    padding: 0;
    margin-top: 27px;
  }
  .filter__box{
    flex-wrap: wrap;
    padding: 14px;
    border-radius: 0;
    margin-bottom: 41px;
    min-height: 60px;
  }
  .filter__fieldGroup{
    width: auto;
    margin-top: 10px;
    >span{
      margin-bottom: 13px;
    }
  }
  .filter__fieldGroup:last-child{
    order: -1;
    width: calc(100% - 30px);
    margin-top: 0;
    .field{
      max-width: 100%;
    }
    >span{
      display: none;
    }
  }
  .filter__fieldGroup-search.mobHide{
    display: block;
    .iconSearch{
      top: -6px;
    }
  }
  .mobHide{
    display: none;
  }
  .ui-selectmenu-button.ui-button, .filter .field{
    max-width: 119px;
  }
  .filterOpenBtn{
    display: block;
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: -35px;
    top: 0;
  }
  .candidate__list{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .candidate__item{
    min-width: 134px;
  }
  .candidateProfile__box{
    flex-direction: column;
  }
  .candidateProfile__photo{
    display: flex;
    justify-content: space-between;
    margin: 0;
    max-width: 100%;
    >img{
      width: 45%;
    }
  }
  .thumbPhoto{
    width: 45%;
    grid-template-columns: 73px 73px;
    grid-template-rows: 73px 73px;
  }
  .viewAllPhoto{
    position: absolute;
  }
  .candidateProfile__general{
    flex-direction: column;
    align-items: center;
  }
  .candidateProfile__mainData{
    footer{
      column-count: 1;
    }
  }
  .candidateProfile__aboutText{
    background-color: #ffffff;
    padding: 15px;
  }
  .quickPaymentButton{
    width: 100%;
    flex-direction: column;
    span{
      margin-bottom: 10px;
      text-align: center;
    }
  }


/*   modal   */
  .modal {
    align-items: flex-start;
    .regFormText{
      display: none;
    }
    .button:not(:last-child){
      margin-bottom: 20px;
    }
    .close{
      top: -65px;
      right: -28px;
    }
    .field{
      padding: 0 9px;
    }
    .gifts{
      padding: 0 38px;
    }
    .gifts__description{
      margin: 0;
    }
    .gifts__cost{
      padding-top: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: right;
      b{
        margin: 0;
      }
    }
  }
  .modal .modal__box{
    top: 100px;
    padding-left: 38px;
    padding-right: 38px;
    justify-content: center;
    max-width: 296px;
    background-image: none!important;
  }
  .successMessage{
    bottom: 0;
  }
  .modalNotEnoughMoney{
    .modal__boxInside{
      flex-direction: column;
      .field{
        margin-bottom: 23px;
      }
    }
  }
  .modal__btnGroup{
    flex-direction: column;
    align-items: center;
  }
  .totalCost{
    order: -1;
    margin-bottom: 20px;
  }
  .modalArrangeVideoDateCalendar, .modalArrageLiveDate, .modalSendGift, .modalAdditionalOptions, .modalBookaCallCalendar{
    .modal__title, .modal__boxInside p{
      padding: 0 38px;
    }
    .field{
      width: calc(100% - 76px);
      margin: 0 auto 10px;
    }
    .modal__box{
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 15px;
    }
  }
  .dateTimePicker{
    flex-direction: column;
  }
  .datepicker{
    border-left: 0;
    border-right: 0;
  }
  .timepicker{
    max-width: 100%;
    padding: 25px 33px 20px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }
  .timepicker__box{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: auto;
    &::-webkit-scrollbar-track
    {
      background-color: rgba(0, 0, 0, 0.1);
    }
    &::-webkit-scrollbar
    {
      width: 8px;
      height: 8px;
      background-color: rgba(0, 0, 0, 0.1);
    }

    &::-webkit-scrollbar-thumb
    {
      background-color: #D6BE9C;
      cursor: pointer;
    }
    >label{
      margin: 0 2px 9px;
    }
  }
  .modalSendGift, .modalAdditionalOptions{
    .gifts__item{
      flex-direction: column;
      margin-bottom: 38px;
      img{
        width: 70px;
        height: 70px;
        margin-bottom: 12px;
      }
      p{
        padding: 0;
      }
    }
  }
  .modalAdditionalOptions{
    .modal__boxInside{
      padding-bottom: 100px;
    }
  }
  .modal__btnGroup-absolute{
    bottom: 0;
    left: 0;
  }
  .checkbox__label .dateTimePicker{
    width: 288px;
    position: relative;
    left: -38px;
  }
  .modal .checkbox__label .fieldTextarea{
    width: 222px;
    left: 0;
    position: relative;
  }
/*   my profile */
  .myProfileHeader__box{
    flex-direction: column;
    align-items: flex-start;
  }
  .sidebar__title{
    padding: 40px 20px 30px;
  }
  .aboutProfile__box{
    margin-bottom: 37px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .myProfile__box{
    flex-direction: column;
  }
  .sidebar{
    max-width: 100%;
    padding: 0 20px;
  }
  .sidebar__list{
    display: flex;
    justify-content: space-between;
    min-height: auto;
    margin-bottom: 37px;
  }
  .sidebar__item{
    font-size: 0;
    margin: 0;
  }
  .myProfileHeader{
    .container{
      padding: 0;
    }
  }
  .myProfile{
    .container{
      padding: 0;
    }
  }
  .balance__title{
    text-align: center;
  }
  .balance__add{
    flex-direction: column;
    .field{
      margin: 0 0 30px;
    }
  }
}

@media (max-width: 567px){
  .candidate__list{
    grid-template-columns: 1fr 1fr;
  }
}