/*--- media ---*/
@media (max-width: 1365px){
  .container{
    padding: 0 30px;
  }
}
@media (max-width: 1023px){
  .container{
    padding: 0 20px;
  }
  .candidate__list{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px 12px
  }
  .candidate__item{
    min-width: 147px;
  }
  .candidateProfile__box{
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 767px){
  ol, ul {
    padding: 0 0 0 15px;
    li{
      font-family: "RobotoLight";
      line-height: 22px;
      margin-bottom: 24px;
      &:before{
        content: '';
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
        height: 22px;
        width: 22px;
        vertical-align: top;
      }
    }
  }
  .section__title{
    font-size: 24px;
    line-height: 28px;
    padding: 40px 0 30px;
  }
  /*-----------------COVER Section------------------*/
  .cover{
    background-image: url("../images/bg_cover-mob.jpg");
  }
  .cover__content{
    padding: 30px 0 40px;
  }
  .cover__title{
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 20px;
  }
  .cover_description{
    flex-grow: 1;
  }
  /*-----------------features Section------------------*/
  .features{
    background-color: #ffffff;
  }
  .features__list{
    flex-wrap: wrap;
  }
  .features__item{
    width: 45%;
    span{
      width: 77px;
      height: 84px;
      margin-bottom: 20px;
    }
    p{
      font-size: 17px;
      line-height: 21px;
      font-family: "RobotoRegular";
    }
  }
  /*-----------------featuresMini Section------------------*/

  .featuresMini__list{
    padding-top: 40px;
    flex-direction: column;
  }
  .featuresMini__item{
    margin-bottom: 40px;
  }
  /*-----------------tariffs Section------------------*/

  .tariffs{
    background: #ffffff;
  }
  .tariffs__list{
    flex-direction: column;
    align-items: center;
    margin: 0 0 -30px;
  }
  .tariffs__item{
    padding-bottom: 60px;
    max-width: 450px;
    width: 100%;
    &:not(:last-child){
      margin-bottom: 60px;
    }
  }
  .tariffs__descripion{
    margin-bottom: 60px;
  }
  .tariffs__features{
    display: none;
  }
  /*-----------------regFormWrapper Section------------------*/

  .regFormWrapper{
    padding: 47px 0 98px;
    background-position-y: 40%;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #003867;
  }
  .regFormWrapper .container{
    flex-direction: column;
    align-items: center;
  }
  .regFormText__title{
    margin-bottom: 36px;
  }
  .regFormText__description{
    font-size: 21px;
    line-height: 34px;
    margin-bottom: 27px;
  }
  .regFormText ul{
    margin-bottom: 80px;
  }
  .regForm{
    margin-top: 0;
  }
  /*-----------------simpleInfo Section------------------*/

  .simpleInfo{
    padding-bottom: 60px;
    min-height: 693px;
    background-position: right;
  }
  .simpleInfo__content{
    max-width: 100%;
  }
  .simpleInfo__title{
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 40px;
  }
  .simpleInfo__text {
    margin-bottom: 50px;
  }
  /*-----------------videoTestimonials Section------------------*/

  .videoTestimonials{
    background: #ffffff;
    .slick-list{
      margin: 0;
    }
    .slick-dots{
      bottom: 10px;
    }
  }
  .video__view{
    min-height: 239px;
  }
  .video__controlls{
    width: 60px;
    height: 60px;
    background-size: 20px;
  }
  .video__title{
    font-size: 16px;
    font-family: "RobotoRegular";
  }
  /*-----------------quickForm Section------------------*/

  .quickForm__title{
    margin-bottom: 16px;
  }
  .quickForm__description{
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 36px;
  }
  .quickForm__wrapper{
    max-width: 500px;
  }
  .quickForm__formBox{
    padding: 40px 20px 37px;
    flex-direction: column;
  }
  .quickForm__formBox{
    .field{
      margin-bottom: 12px;
      &:last-child{
        margin-bottom: 37px;
      }
    }
  }
  .contacts__title{
    font-size: 24px;
  }
  .contactsWrapper{
    flex-direction: column;
  }
  .contacts{
    max-width: 100%;
    min-height: 350px;
  }
  .pagination{
    justify-content: center;
  }
  .filter__box{
    flex-wrap: wrap;
    padding: 14px;
    border-radius: 0;
    margin-bottom: 32px;
  }
  .filter__fieldGroup:last-child{
      order: 1;
      width: 100%;
  }
  .candidate__list{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .candidateProfile__box{
    flex-direction: column;
  }
  .candidateProfile__photo{
    display: flex;
    justify-content: space-between;
    margin: 0;
    max-width: 100%;
    >img{
      width: 45%;
    }
  }
  .thumbPhoto{
    width: 45%;
    grid-template-columns: 73px 73px;
    grid-template-rows: 73px 73px;
  }
  .viewAllPhoto{
    position: absolute;
  }
  .candidateProfile__general{
    flex-direction: column;
    align-items: center;
  }
  .candidateProfile__mainData{
    footer{
      column-count: 1;
    }
  }
  .candidateProfile__aboutText{
    background-color: #ffffff;
    padding: 15px;
  }
}

@media (max-width: 567px){
  .candidate__list{
    grid-template-columns: 1fr 1fr;
  }
}