/*--- media ---*/
@media (max-width: 1365px){
  .container{
    padding: 0 30px;
  }
  .candidateProfile__aboutText:first-child:before{
    display: none;
  }
  .candidate__item footer{
    span{
      font-size: 15px;
    }
  }
  .decimalFeatures__head:after{
    display: none;
  }
  .decimalFeatures__img{
    width: 200px;
    height: 200px;
    top: 53px;
    position: relative;
    background-position: 50% 0%;
  }
  .romanceTour__picture{
    min-width: 250px;
    min-height: 300px;
  }
  .romanceTour__item{
    max-width: 400px;
    margin: 0 auto;
    flex-direction: column;
  }
  .features__item.arrowStep{
    width: 120px;
  }
  .matchmakingService .specialOffer{
    padding: 27px 30px 25px;
    height: auto;
    background-position-x: 75%;
  }
}
@media (max-width: 1023px){
  .container{
    padding: 0 20px;
  }
  .candidate__list{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px 12px
  }
  .myProfile .candidate__list{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .candidate__item{
    min-width: 147px;
  }
  .candidateProfile__box{
    flex-direction: column;
    align-items: center;
  }
  .candidateProfile__photo{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    max-width: 100%;
    >img{
      max-width: 300px;
      object-fit: contain;
    }
  }
  .quickForm__formBox{
    flex-wrap: wrap;
    justify-content: space-around;
    .field{
      margin: 6px 0;
      &:last-child{
        margin-bottom: 37px;
      }
    }
  }
  .profile__content, .profile__contentBox{
    padding: 30px 20px;
  }
  .aboutProfile__box{
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 13px;
    height: auto;
    justify-content: space-between;
    align-items: flex-start;
  }
  .aboutProfile__text{
    width: 100%;
    margin-bottom: 15px;
  }
  .specialOffer{
    padding: 38px 20px 10px 20px;
    flex-direction: column;
    min-height: 293px;
    background-position-x: 92%;
  }
  .specialOffer .button{
    top: auto;
    max-width: 180px;
  }

  .profile__infoList{
    max-width: 290px;
  }
  .sidebar, .sidebar__title{
    max-width: 250px;
  }
  .profile__galleryList{
    flex-wrap: wrap;
  }
  .profile__galleryItem{
    margin-bottom: 15px;
  }
  .profile__infoItem .controll__group-birth .field, .profile__infoItem .controll__group-birth .ui-selectmenu-button.ui-button {
    width: 57px;
    padding: 0px 15px 0 5px;
    margin: 0;
  }
  .profile__infoItem .controll__group .field:nth-child(2){
    margin: 0 6px;
  }
  .profile__DetailsItem .fieldTextarea{
    max-height: 97px;
    width: 49%;
  }
  .profile__DetailsItem label, .profile__DetailsItem .profileKey{
    width: 49%;
  }
  .profile__DetailsItem .controll__group{
    width: 49%;
  }
  .profile__DetailsItem input.field{
    width: 49%;
  }
  .ui-selectmenu-icon.ui-icon{
    width: 20px;
    background-size: 14px;
  }
  .profile__infoList .ui-selectmenu-button.ui-button{
    max-width: 100%;
  }
  .profile__buttonWrapper{
    flex-direction: column;
    align-items: flex-start;
  }
  .profile__buttonWrapper .button{
    margin: 0;
    &:first-child{
      margin-bottom: 20px;
    }

  }
  .servicesList{
    padding: 40px 20px;
  }
  .romanceTour__list{
    display: flex;
    flex-direction: column;
  }
  .romanceTour__item{
    margin-bottom: 30px;
  }
  .decimalFeatures__img{
    display: none;
  }

  .decimalFeatures__item{
    padding-left: 70px;
    width: 350px;
  }
  .decimalFeatures__item-5, .decimalFeatures__item-4{
    padding-left: 0;
    padding-right: 70px;
  }
  .features__item.arrowStep{
    width: 30%;
  }
  .features__item:nth-child(3).arrowStep{
    &:after{
      transform: rotate(90deg) translate(0px, -27px);
      right: 50%;
      top: auto;
      bottom: -30px;
    }
  }
  .features__item:nth-child(4).arrowStep{
    margin-top: 50px;
    &:after{
      transform: rotate(180deg);
    }
  }
  .features__item:nth-child(5).arrowStep{
    margin-top: 50px;
    &:after{
      transform: rotate(180deg);
    }
  }
  .features__item:nth-child(6).arrowStep{
    margin-top: 50px;
  }
  .matchmakingService .specialOffer{
    .specialOffer__description{
      margin-bottom: 10px;
    }
    .button{
      top: auto;
      bottom: 20px;
      position: absolute;
    }
  }
}
@media (max-width: 767px){
  ol, ul {
    padding: 0;
    margin-top: 35px;
    li{
      font-family: "RobotoLight";
      line-height: 22px;
      margin-bottom: 24px;
      padding-left: 14px;
      &:before{
        background-position-x: 0;
      }
    }
  }
  td:first-child{
    text-align: left;
  }
  .section__title{
    line-height: 40px;
    padding: 40px 0 30px;
  }
  /*-----------------COVER Section------------------*/
  .cover{
    height: 587px;
  }
  .cover__content{
    padding: 33px 0 40px;
  }
  .cover__title{
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 15px;
  }
  .cover_description{
    flex-grow: 1;
  }
  /*-----------------features Section------------------*/
  .features{
    padding-top: 18px;
    padding-bottom: 8px;
  }
  .features__list{
    flex-wrap: wrap;
    padding-top: 20px;
  }
  .features__item{
    width: 45%;
    span{
      width: 77px;
      height: 84px;
      margin-bottom: 20px;
    }
    p{
      font-size: 17px;
      line-height: 21px;
      font-family: "RobotoRegular";
      margin-bottom: 50px;
    }
  }
  /*-----------------featuresMini Section------------------*/

  .featuresMini__list{
    padding-top: 40px;
    flex-direction: column;
  }
  .featuresMini__item{
    margin-bottom: 40px;
  }
  /*-----------------tariffs Section------------------*/

  .tariffs{
    background: transparent;
    padding-top: 21px;
  }
  .tariffs__list{
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    padding-top: 14px;
  }
  .tariffs__item{
    padding-bottom: 35px;
    max-width: 450px;
    width: 100%;
    &:not(:last-child){
      margin-bottom: 40px;
    }
  }
  .tariffs__descripion{
    margin-bottom: 60px;
  }
  .tariffs__features{
    display: none;
  }
  /*-----------------regFormWrapper Section------------------*/

  .regFormWrapper{
    padding: 61px 0 47px;
    background-position-y: 40%;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #003867;
  }
  .regFormWrapper .container{
    flex-direction: column;
    align-items: center;
  }
  .regFormText__title{
    margin-bottom: 32px;
  }
  .regFormText__description{
    font-size: 21px;
    line-height: 34px;
    margin-bottom: 23px;
  }
  .regFormText {
    ul{
      margin-bottom: 80px;
    }
    li{
      padding-left: 28px;
      margin-bottom: 21px;
    }

  }
  .regForm{
    margin-top: 0;
    transform: translate(0);
  }
  /*-----------------simpleInfo Section------------------*/

  .simpleInfo{
    padding-bottom: 60px;
    padding-top: 49px;
    min-height: 693px;
    background-position: right;
  }
  .simpleInfo__content{
    max-width: 100%;
  }
  .simpleInfo__title{
    line-height: 40px;
    text-align: center;
    margin-bottom: 30px;
  }
  .simpleInfo__text {
    margin-bottom: 33px;
  }
  /*-----------------videoTestimonials Section------------------*/

  .videoTestimonials{
    background: transparent;
    padding-top: 18px;
    .slick-list{
      margin: 0;
    }
    .slick-dots{
      bottom: -3px;
    }
  }
  .video__view{
    min-height: 239px;
  }
  .video__controlls{
    width: 60px;
    height: 60px;
    background-size: 20px;
  }
  .video__title{
    font-size: 16px;
    font-family: "RobotoRegular";
  }
  .videoTestimonials__list{
    margin-top: 0;
  }
  /*-----------------stories Section------------------*/
  .stories{
    padding-bottom: 65px;
    .slick-dots{
      bottom: -40px;
    }
  }
  .stories .section__title{
    padding: 62px 0 42px;

  }
  .elipseFrame{
    width: 160px;
    height: 160px;
    border-width: 8px;
    margin-bottom: 43px;
  }
  .story__title{
    margin-bottom: 29px;
  }
  .story__description p{
    line-height: 25px;
  }
  /*-----------------quickForm Section------------------*/
  .quickForm{
    padding: 34px 0 52px;
    background-size: auto 67%;
    background-position-x: 13%;
    .button{
      margin-top: 31px;
    }
  }
  .quickForm__title{
    margin-bottom: 16px;
  }
  .quickForm__description{
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 14px;
  }
  .quickForm__wrapper{
    max-width: 500px;
  }
  .quickForm__formBox{
    padding: 33px 20px 37px;
    flex-direction: column;
  }
  .quickForm__formBox{
    .field{
      &:last-child{
        margin-bottom: 37px;
      }
    }
  }
  .contacts__title{
    font-size: 24px;
  }
  .contactsWrapper{
    flex-direction: column-reverse;
  }
  .contacts{
    max-width: 100%;
    min-height: 295px;
  }
  .pagination{
    justify-content: center;
  }
  .pagination__list{
    padding: 0;
    margin-top: 27px;
  }
  .filter__box{
    flex-wrap: wrap;
    padding: 14px;
    border-radius: 0;
    margin-bottom: 41px;
    min-height: 60px;
  }
  .filter__fieldGroup{
    width: auto;
    margin-top: 10px;
    >span{
      margin-bottom: 13px;
    }
  }
  .filter__fieldGroup:last-child{
    order: -1;
    width: calc(100% - 30px);
    margin-top: 0;
    .field{
      max-width: 100%;
    }
    >span{
      display: none;
    }
  }
  .filter__fieldGroup-search.mobHide{
    display: block;
    .iconSearch{
      top: -6px;
    }
  }
  .mobHide{
    display: none;
  }
  .ui-selectmenu-button.ui-button, .filter .field{
    max-width: 119px;
  }
  .filterOpenBtn{
    display: block;
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: -35px;
    top: 0;
  }
  .candidate__list{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .candidate__item {
    min-width: 134px;
    max-width: 200px;
    footer {
      height: 24px;

      span {
        font-size: 15px;
        line-height: 24px;
      }
    }
  }
  .section__text .candidate__item{
    footer{
      span{
        font-size: 14px;
        line-height: 18px;
        &:last-child{
          border: 2px solid #C99445;
        }
      }
    }
  }
  .candidate__title{
    padding: 5px 10px 5px;
  }
  .candidateProfile__box{
    flex-direction: column;
  }
  .candidateProfile__photo{
    display: flex;
    justify-content: space-around;
    margin: 0;
    max-width: 100%;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 158px;
    >img{
      margin: 0 0 30px
    }
    .video{
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;

    }
    .video__view{
      min-height: 159px;
      max-width: 307px;
      margin: 0 auto;
    }
  }
  .candidateProfile__ID{
    font-size: 16px;
  }
  .slick-dots button{
    margin: 0 10px;
  }
  .thumbPhoto{
    grid-template-columns: 73px 73px;
    grid-template-rows: 73px 73px;
  }
  .thumbPhoto__item{
    &:nth-child(5), &:nth-child(6){
      display: none;
    }
  }
  .viewAllPhoto{
    position: absolute;
  }
  .candidateProfile__general{
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .candidateProfile__mainData{
    header{
      border-radius: 0;
      height: 57px;
      padding: 10px;
    }
    footer{
      column-count: 1;
      border-radius: 0;
    }
  }
  .candidateProfile__fact{
    justify-content: space-around;
  }
  .candidateProfile__aboutText{
    background-color: #ffffff;
    padding: 15px;
  }
  .quickPaymentButton{
    width: 100%;
    flex-direction: column;
    span{
      margin-bottom: 10px;
      text-align: center;
    }
  }
  .candidateProfile__interaction{
    margin-right: 0;
    margin-bottom: 36px;
  }
  .tabs{
    padding: 0 20px;
    margin-bottom: 20px;
  }
  .tabs__item{
    height: 54px;
    line-height: 54px;
  }
  .profile__content{
    flex-direction: column;
    align-items: center;
  }
  .profile__photoBox{
    max-width: 280px;
  }
  .profile__infoList{
    padding: 0;
    position: relative;
  }
  .profile__galleryItem{
    width: 85px;
    height: 85px;
  }
  .editProfile{
    font-size: 0;
    background-position: center;
    width: 30px;
    height: 30px;
    padding: 0;
    top: 0;
    right: 0;
  }
  .profile__infoList{
    max-width: 280px;
  }
  .gifts__item{
    margin-bottom: 38px;
    img{
      width: 70px;
      height: 70px;
      margin-bottom: 12px;
    }
    p{
      padding: 0;
    }
    &:last-child{
      margin: 0;
    }
  }

  .gifts__description{
    margin: 0 15px;
  }
  .gifts__cost{
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: right;
    b{
      margin: 0;
    }
  }
  .haveQuestions{
    padding-bottom: 60px;
    .button{
      display: block;
      margin: 0 auto;
    }
  }
  .haveQuestions__title{
    text-align: center;
  }
  .profile__DetailsItem .controll__group-fromTo .ui-selectmenu-button.ui-button, .profile__DetailsItem .controll__group-fromTo .field{
    min-width: 64px;
    max-width: 64px;
    padding: 0 20px 0 5px;
    margin: 0!important;
  }
  .profile__DetailsItem .controll__group-fromTo .fromTo__label{
    margin-right: 5px;
    margin-left: 15px;
  }
  .controll__group-fromTo{
    width: 50%;
  }
  .servicesList{
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
  }
  .services__item{
    max-width: 335px;
    margin-bottom: 30px;
    min-height: 225px;
  }
  .myProfile .candidate__list{
    grid-template-columns: 1fr 1fr;
  }
  .decimalFeatures__box{
    height: auto;
    flex-direction: column;
  }
  .decimalFeatures__item{
    text-align: justify;
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    width: 100%;
    margin-bottom: 60px;
  }
  .decimalFeatures__item-5, .decimalFeatures__item-4{
    padding-right: 0;
    padding-left: 70px;
    .decimalFeatures__num{
      right: auto;
      left: 0;
    }
  }
  .decimalFeatures__item-5{
    margin-bottom: 0;
    order: 6;
  }
  .romanceTour__picture{
    min-height: 245px;
  }
  .romanceTour__label{
    bottom: auto;
    top: 0;
    max-width: 140px;
    text-align: left;
    line-height: 19px;
    padding: 6px 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 100px;
  }
  .features__item.arrowStep{
    width: 49%;
  }
  .features__item.arrowStep:not(:last-child):after{
    right: -30px;
  }
  .features__item:nth-child(2).arrowStep{
    &:after{
      transform: rotate(135deg);
      right: 80%;
      top: auto;
      bottom: 10px;
    }
  }
  .features__item:nth-child(3).arrowStep{
    &:after{
      transform: rotate(0deg);
      right: -30px;
      top: 50px;
    }
  }
  .features__item:nth-child(4).arrowStep{
    &:after{
      transform: rotate(135deg);
      right: 80%;
      top: auto;
      bottom: 10px;
    }
  }
  .features__item:nth-child(5).arrowStep{
    &:after{
      transform: rotate(0deg);
      right: -30px;
    }
  }

  .features__item:nth-child(4).arrowStep,
  .features__item:nth-child(6).arrowStep,
  .features__item:nth-child(5).arrowStep{
    margin-top: 0;
  }
  .features_description{
    margin-top: 0;
  }
  .ladiesInCity {
    .tabs{
      padding: 0;
    }
    .tabs__item{
      line-height: 1.6;
    }
  }
  .tourMainDescription{
    background-size: cover;
  }
  .tourDetails{
    background: linear-gradient(270deg, #E6F1F5 32.81%, rgba(230, 241, 245, 0.35) 100%);
  }
  .coverTour__info{
    max-width: 250px;
    transform: translateX(15px);
  }
  .mark-new, .mark-bonus{
    left: -48px;
  }
  .coverTour__totalCost > span{
    padding: 0 15px;
  }
  .tourDetails__textBox{
    padding-left: 0;
  }
  .tourDetails ul li .mark-new, .tourDetails ul li .mark-bonus{
    transform: translateX(10px);
  }
  .promoInfo .container{
    flex-direction: column;
  }
  .regularActions{
    max-width: 100%;
    margin: 0 auto;
    width: calc(100% - 40px);
  }


/*   modal   */
  .modal {
    align-items: flex-start;
    .regFormText{
      display: none;
    }
    .button:not(:last-child){
      margin-bottom: 20px;
    }
    .close{
      top: -65px;
      right: -28px;
    }
    .field{
      padding: 0 9px;
    }
    .gifts{
      padding: 0 38px;
    }
    .gifts__description{
      margin: 0;
    }
    .gifts__cost{
      padding-top: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: right;
      b{
        margin: 0;
      }
    }
  }
  .modal .modal__box{
    top: 100px;
    padding-left: 38px;
    padding-right: 38px;
    justify-content: center;
    max-width: 296px;
    background-image: none!important;
    margin-bottom: 35px;
  }
  .successMessage{
    bottom: 0;
  }
  .modalNotEnoughMoney{
    .modal__boxInside{
      flex-direction: column;
      .field{
        margin-bottom: 23px;
      }
    }
  }
  .modal__btnGroup{
    flex-direction: column;
    align-items: center;
  }
  .totalCost{
    order: -1;
    margin-bottom: 20px;
  }
  .modalArrangeVideoDateCalendar, .modalArrageLiveDate, .modalSendGift, .modalAdditionalOptions, .modalBookaCallCalendar{
    .modal__title, .modal__boxInside p{
      padding: 0 38px;
    }
    .field{
      width: calc(100% - 76px);
      margin: 0 auto 10px;
    }
    .modal__box{
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 15px;
    }
  }
  .dateTimePicker{
    flex-direction: column;
  }
  .datepicker{
    border-left: 0;
    border-right: 0;
  }
  .timepicker{
    max-width: 100%;
    padding: 25px 33px 20px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }
  .timepicker__box{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: auto;
    &::-webkit-scrollbar-track
    {
      background-color: rgba(0, 0, 0, 0.1);
    }
    &::-webkit-scrollbar
    {
      width: 8px;
      height: 8px;
      background-color: rgba(0, 0, 0, 0.1);
    }

    &::-webkit-scrollbar-thumb
    {
      background-color: #D6BE9C;
      cursor: pointer;
    }
    >label{
      margin: 0 2px 9px;
    }
  }
  .modalSendGift, .modalAdditionalOptions{
    .gifts__item{
      flex-direction: column;
      margin-bottom: 38px;
      img{
        width: 70px;
        height: 70px;
        margin-bottom: 12px;
      }
      p{
        padding: 0;
      }
    }
  }
  .modalAdditionalOptions{
    .modal__boxInside{
      padding-bottom: 100px;
    }
  }
  .modal__btnGroup-absolute{
    bottom: 0;
    left: 0;
  }
  .checkbox__label .dateTimePicker{
    width: 288px;
    position: relative;
    left: -38px;
  }
  .modal .checkbox__label .fieldTextarea{
    width: 222px;
    left: 0;
    position: relative;
  }
/*   my profile */
  .myProfileHeader__box{
    flex-direction: column;
    align-items: flex-start;
  }
  .sidebar__title{
    padding: 40px 20px 30px;
  }
  .aboutProfile__box{
    margin-bottom: 37px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .myProfile__box{
    flex-direction: column;
  }
  .sidebar{
    max-width: 100%;
    padding: 0 20px;
  }
  .sidebar__list{
    display: flex;
    justify-content: space-between;
    min-height: auto;
    margin-bottom: 37px;
  }
  .sidebar__item{
    font-size: 0;
    margin: 0;
  }
  .myProfileHeader{
    .container{
      padding: 0;
    }
  }
  .myProfile{
    .container{
      padding: 0;
    }
  }
  .balance__title{
    text-align: center;
  }
  .balance__add{
    flex-direction: column;
    .field{
      margin: 0 0 30px;
    }
  }
  .breadcrumbs{
    padding: 40px 0 25px;
  }
  .matchmakingPage, .romanceToursPage{
    .cover__title{
      font-size: 28px;
      line-height: 35px;
    }
  }
  .ui-accordion .ui-accordion-header{
    padding-right: 45px;
  }
  .scrollingBox{
    background-size: cover;
    background-image: url('../images/bg_scrollingBox-mob.png');
  }
  .promoInfo{
    .container{
      padding: 0;
    }
  }
  .matchmakingService .specialOffer{
    .specialOffer{
      padding-left: 20px;
      padding-right: 20px;
    }
    .specialOffer__description{
      margin-bottom: 109px;
    }
    .button{
      top: auto;
      bottom: 90px;
      position: absolute;
    }
  }
}

@media (max-width: 567px){
  .candidate__list{
    grid-template-columns: 1fr 1fr;
  }
  .candidateProfile__photo{
    justify-content: space-between;
  }
  .candidateProfile__photo {
    > img {
      width: calc(100% - 175px);
    }
  }
  .coverTour__header{
    line-height: 40px;
    padding: 8px 0;
  }
}