.modal{
  width: 100%;
  position: fixed;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
  overflow-y: auto;
  overflow-x: hidden;
  .regForm{
    margin-top: 0;
  }
  .field{
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    max-width: 100%;
    padding: 0 22px;
  }
  .fieldTextarea{
    min-height: 160px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.2em;
  }
  .checkbox__label .fieldTextarea{
    margin: 10px 0 0 -30px;
    width: 100%;
    max-width: 524px;
  }
  .ui-selectmenu-button.ui-button{
    height: 35px;
    line-height: 35px;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 22px;
  }
  .ui-selectmenu-text{
    font-family: "RobotoLight";
  }
  .ui-selectmenu-text{
    line-height: 35px;
    font-size: 16px;
  }
  .ui-selectmenu-menu{
    padding: 0;
  }
  .ui-selectmenu-icon.ui-icon{
    background-color: transparent;
    height: 35px;
    width: 35px;
    background-size: 15px;
  }
  .ui-selectmenu-button-open .ui-selectmenu-icon.ui-icon{
    background-color: transparent;
    transform: rotate(180deg);
  }
  .ui-menu .ui-menu-item{
    min-height: 35px;
    line-height: 35px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.06);
    color: rgba(0, 0, 0, 0.5);

    &:hover{
      background-color: #DCDCDC;
    }
  }
  .ui-menu .ui-menu-item-wrapper{
    font-family: "RobotoLight";
  }
  .ui-menu .ui-state-active{
    background-color: #DCDCDC;
    color: rgba(0, 0, 0, 0.5);
    font-family: "RobotoLight";
  }
  .gifts{
    &::-webkit-scrollbar-track
    {
      background-color: rgba(0, 0, 0, 0.1);
    }
    &::-webkit-scrollbar
    {
      width: 8px;
      background-color: rgba(0, 0, 0, 0.1);
    }

    &::-webkit-scrollbar-thumb
    {
      background-color: #D6BE9C;
      cursor: pointer;
    }
    max-height: 500px;
    padding-right: 45px;
    overflow-y: auto;
    .button{
      min-width: 112px;
    }
  }
  .gifts__cost{
    b{
      margin: 0 auto 12px;
      text-align: center;
      display: block;
    }
  }
  .gifts__description{
    margin: 0 35px;
  }
  .gifts__item{
    margin-bottom: 20px;
  }
  .video__view{
    min-height: 255px;
  }
}

.modalNotEnoughMoney{
  .modal__box{
    max-width: 636px;
  }
  .modal__boxInside{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    .field{
      max-width: 297px;
      margin-bottom: 0;
    }
  }
}

.modalSelectOptions{
  .modal__box{
    max-width: 634px;
    padding: 25px 55px 35px;
  }
}
.modalSendLetter, .modalConfirmAction{
  .modal__box{
    max-width: 634px;
  }
}

.modalSelectOptions{
  .ui-selectmenu-button.ui-button{
    margin-bottom: 20px;
  }
}

.modalArrangeVideoDate, .modalBookaCall{
  .modal__box{
    padding: 25px 43px 35px;
    max-width: 487px;
  }
}

.modalSendGift{
  .modal__box{
    max-width: 968px;
    padding-bottom: 100px;
  }
}

.modalArrageLiveDate{
  .modal__box{
    max-width: 452px;
  }
}

.modalAdditionalOptions{
  .modal__box{
    padding-bottom: 100px;
  }

}

.modalArrangeVideoDateCalendar{
  .modal__box{
    max-width: 552px;
  }
}

.modal__box{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  max-width: 840px;
  position: absolute;
  background-color: #ffffff;
  padding: 25px 70px 35px;
  &.modal__box-row{
    flex-direction: row;
  }
  p{
    font-family: "RobotoLight";
  }
}
.close{
  width: 55px;
  height: 55px;
  position: absolute;
  right: 10px;
  top: 5px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
}
.successMessage{
  display: none;
  justify-content: center;
  align-items: center;
  padding: 20px 60px;
  color: white;
  background-color: #C9A876;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  max-width: 490px;
  font-size: 17px;
  line-height: 21px;
}
.modal__title{
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  width: 100%;
  margin-bottom: 19px;
}
.modalRegForm{
  .modal__box{
     padding: 39px 76px 44px 33px;
  }
}
.modalNotEnoughMoney{
  .modal__box{
    max-width: 636px;
  }
  label{
    width: 100%;
    font-size: 17px;
    line-height: 21px;
  }
  form{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  input{
    max-width: 295px;
    height: 35px;
    font-size: 16px;
  }
  .button{
    min-width: 152px;
  }
}
.modal__boxInside{
  display: flex;
  flex-direction: column;
}

.modal__btnGroup{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 13px;
}

.modal__btnGroup-absolute{
  position: absolute;
  right: 70px;
  bottom: 35px;
  max-width: 300px;
  .button{
    min-width: 138px;
  }
}

.totalCost{
  color: #000000;
  font-size: 17px;
  line-height: 21px;
  font-family: 'RobotoRegular';
}

.dateTimePicker{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.checkbox__label{
  .dateTimePicker{
    display: none;
    width: 100%;
    margin: 13px 0 0 -28px;
  }
  .fieldTextarea{
    display: none;
  }
}

.datepicker{
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 323px;
}
.timepicker{
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 0;
  max-width: 101px;
  width: 100%;
  padding: 55px 20px 40px 15px;
}
.timepicker__title{
  font-size: 12px;
  line-height: 22px;
  margin-bottom: 5px;
}
.timepicker__box{
  max-height: 163px;
  overflow-y: auto;
  &::-webkit-scrollbar-track
  {
    background-color: rgba(0, 0, 0, 0.1);
  }
  &::-webkit-scrollbar
  {
    width: 8px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  &::-webkit-scrollbar-thumb
  {
    background-color: #D6BE9C;
    cursor: pointer;
  }
  >input{
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    &:checked + label{
      background-color: #C99445;
      color: #ffffff;
      font-family: 'RobotoRegular';
    }
  }
  >label{
    font-size: 12px;
    line-height: 22px;
    min-width: 42px;
    max-width: 42px;
    font-family: "RobotoLight";
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border-radius: 20px;
    display: block;
    text-align: center;
    margin-bottom: 2px;
    &:hover{
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

@media (max-width: 767px) {

}