.modal{
  width: 100%;
  position: fixed;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
  .regForm{
    margin-top: 0;
  }
}
.modal__box{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  max-width: 840px;
  position: absolute;
  background-color: #ffffff;
  padding: 25px 70px 35px;
  &.modal__box-row{
    flex-direction: row;
  }
}
.close{
  width: 55px;
  height: 55px;
  position: absolute;
  right: 0;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
}
.successMessage{
  display: none;
  justify-content: center;
  align-items: center;
  padding: 20px 60px;
  color: white;
  background-color: #C9A876;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  max-width: 490px;
  font-size: 17px;
  line-height: 21px;
}
.modal__title{
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  width: 100%;
  margin-bottom: 19px;
}
.modalRegForm{
  .modal__box{
     padding: 39px 76px 44px 33px;
  }
}
.modalNotEnoughMoney{
  .modal__box{
    max-width: 636px;
  }
  label{
    width: 100%;
    font-size: 17px;
    line-height: 21px;
  }
  form{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  input{
    max-width: 295px;
    height: 35px;
    font-size: 16px;
  }
  .button{
    min-width: 152px;
  }
}

@media (max-width: 767px) {
  .modal {
    .regFormText{
      display: none;
    }
  }
  .modal__box{
    padding-left: 38px;
    padding-right: 38px;
    justify-content: center;
    background-image: none!important;
  }
  .successMessage{
    bottom: 0;
  }
  .modalNotEnoughMoney{
    form{
      flex-direction: column;
    }
  }
}