block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" type='text/css' href="static/css/styles.min.css")

	body()
		.wrapper
			include ../modules/header/header
			.content
				block content
			include ../modules/footer/footer
			include ../modules/modal/modal
		script(src="static/js/main.min.js")