.sidebar
    .sidebar__list
        a.sidebar__item.sidebar__item-active.iconServices(href="#") Services
        a.sidebar__item.iconMyProfile(href="#") My profile
        a.sidebar__item.iconViwedProfiles(href="#") Viewed profiles
        a.sidebar__item.iconBalance(href="#") Balance & Payment history
        a.sidebar__item.iconSpecialOffers(href="#") Special offers
            span 1