extends template/main

block variables

    - var title = 'Мой профиль'

block content
    section.myProfileHeader
        .container
            .myProfileHeader__box
                .sidebar__title My Account
                .aboutProfile
                    .aboutProfile__box
                        .aboutProfile__text Fill out the profile to increase your chance to find the perfect lady
                        a.aboutProfile__button + Add personal details
                        .aboutProfile__strength
                            span Profile Strength: 15%
                            .percentLine(data-percent="15")
                                span
    section.myProfile
        .container
            .myProfile__box
                include modules/sidebar/sidebar
                .profile
                    .profile__content.balance
                        .balance__title Account Balance:	$2,200.65
                        .balance__add
                            input.field(type="number" placeholder="0")
                            button.button Add funds
                        .balance__title Payment history
                        table
                            col(width="25%")
                            col()
                            col(width="150")
                            tr
                                td Date
                                td Transaction.sidebar
                                td Amount
                            tr
                                td May 29, 2019
                                td Videodate
                                td -$99.0
                            tr
                                td May 29, 2019
                                td Videodate
                                td -$99.00
                            tr
                                td May 29, 2019
                                td Videodate
                                td -$99.00
                            tr
                                td May 29, 2019
                                td Videodate
                                td -$99.00
                            tr
                                td May 29, 2019
                                td Videodate
                                td -$99.00
                            tr
                                td May 29, 2019
                                td Videodate
                                td -$99.00