extends template/main

block variables

    - var title = 'Редактирование профиля'

block content
    section.myProfileHeader
        .container
            .myProfileHeader__box
                .sidebar__title My Account
                .aboutProfile
                    .aboutProfile__box
                        .aboutProfile__text Fill out the profile to increase your chance to find the perfect lady
                        a.aboutProfile__button + Add personal details
                        .aboutProfile__strength
                            span Profile Strength: 15%
                            .percentLine(data-percent="15")
                                span
    section.myProfile
        .container
            .myProfile__box

                include modules/sidebar/sidebar
                .profile
                    .tabs
                        a.tabs__item(href="#") Main info
                        a.tabs__item(href="#") Personal Details
                        a.tabs__item.tabs__item-active(href="#") Ideal lady
                    form
                        .profile__content
                            .profile__photoBox
                                .profile__avatar
                                    img(src="static/images/media/man.jpg")
                                .profile__galleryList
                                    .profile__galleryItem.iconPlus
                                        img(src="static/images/media/man.jpg")
                                    .profile__galleryItem.iconPlus
                                    .profile__galleryItem.iconPlus
                            .profile__infoList
                                .profile__infoItem
                                    label Name:
                                    input.field(type="text")
                                .profile__infoItem
                                    label Last name:
                                    input.field(type="text")
                                .profile__infoItem
                                    label Date of birth:
                                    .controll__group.controll__group-birth
                                        select.field(name="")
                                            option(value="1") 01
                                            option(value="2") 02
                                            option(value="3") 03
                                            option(value="4") 04
                                            option(value="5") 05
                                            option(value="6") 06
                                            option(value="7") 07
                                            option(value="8") 08
                                            option(value="9") 09
                                        select.field(name="")
                                            option(value="Jan") Jan
                                            option(value="Feb") Feb
                                            option(value="Mar") Mar
                                        select.field(name="")
                                            option(value="1920") 1920
                                            option(value="1921") 1921
                                            option(value="1922") 1922
                                            option(value="1923") 1923
                                .profile__infoItem
                                    label Email Address:
                                    input.field(type="text")
                                .profile__infoItem
                                    label Your country:
                                    .controll__group
                                        select.field(name="")
                                            option(value="") Украина
                                .profile__infoItem
                                    label Your city:
                                    .controll__group
                                        select.field(name="")
                                            option(value="odessa") Odessa
                                .profile__infoItem
                                    label Phone:
                                    input.field(type="text")
                                .profile__infoItem
                                    label Viber/Whatsapp:
                                    input.field(type="text")
                                .profile__infoItem
                                    label Your name on skype:
                                    input.field(type="text")
                                .profile__infoItem
                                    label
                                    .profile__buttonWrapper
                                        button.button Save
                                        button.button.button-tuscany Cancel
