extends template/main

block variables

    - var title = 'Мой профиль'
    - var pageClass = 'my-profile'

block content
    section.myProfileHeader
        .container
            .myProfileHeader__box
                .sidebar__title My Account
                .aboutProfile
                    .aboutProfile__box
                        .aboutProfile__text Fill out the profile to increase your chance to find the perfect lady
                        a.aboutProfile__button + Add personal details
                        .aboutProfile__strength
                            span Profile Strength: 15%
                            .percentLine(data-percent="15")
                                span
    section.myProfile
        .container
            .myProfile__box
                include modules/sidebar/sidebar
                .profile.profileEditIdealLady
                    .tabs
                        a.tabs__item(href="#") Main info
                        a.tabs__item(href="#") Personal Details
                        a.tabs__item.tabs__item-active(href="#") Ideal lady
                    .profile__content
                        .profile__DetailsList
                            .profile__DetailsItem
                                label.profileKey Her age:
                                div.flex
                                    .controll__group.controll__group-fromTo
                                        span.fromTo__label From:
                                        select.field(name="age")
                                            option(value="150") 150
                                            option(value="170") 170
                                    .controll__group.controll__group-fromTo
                                        span.fromTo__label To:
                                        select.field(name="age")
                                            option(value="150") 150
                                            option(value="170") 170
                            .profile__DetailsItem
                                label.profileKey Her height:
                                div.flex
                                    .controll__group.controll__group-fromTo
                                        span.fromTo__label From:
                                        select.field(name="age")
                                            option(value="150") 150
                                            option(value="170") 170
                                    .controll__group.controll__group-fromTo
                                        span.fromTo__label To:
                                        select.field(name="age")
                                            option(value="150") 150
                                            option(value="170") 170
                            .profile__DetailsItem
                                label.profileKey Her hair color:
                                .controll__group
                                    select.field(name="age")
                                        option(value="Yes") Yes
                                        option(value="No") No
                            .profile__DetailsItem
                                label.profileKey Her eyes color:
                                .controll__group
                                    select.field(name="age")
                                        option(value="Yes") Yes
                                        option(value="No") No
                            .profile__DetailsItem
                                label.profileKey Her children:
                                .controll__group
                                    select.field(name="age")
                                        option(value="Yes") Yes
                                        option(value="No") No
                            .profile__DetailsItem
                                label.profileKey Describe the lady’s personality that suit you best:
                                textarea.fieldTextarea
                            .profile__DetailsItem
                                label.profileKey Other important criteria for your match:
                                textarea.fieldTextarea
                            .profile__DetailsItem
                                label.profileKey
                                .profile__buttonWrapper
                                    button.button Save
                                    button.button.button-tuscany Cancel