extends template/main


block content
    section
        .container
            .section__text
                h1 Gifts and presents for your lady
                p Send a gift to your special one! If you want to succeed with a chosen Ukrainian lady and melt her heart, a romantic gift is a proven approach. Make the right start with your special woman. Ukrainian ladies are known for their inner openness, heart sincerity and caring natures. They are the most giving and sharing type of personality. In continuance to inner generosity, ladies subconsciously pay attention if a man can reveal a similar attitude and show his opened care about his beloved. In Slavic culture lady traditionally pays much attention not to words, but to the way a man shows his attitude during courtship.
                img.floatRight(src="static/images/media/textImg.png")
                p Our gifts gallery is diversified and suitable for every occasion. Our gifts gallery is diversified and suitable for every occasion. From tasty cake to make her evening special to the golden pendant or huge bouquet of roses to show your uttermost dedication. If you wish to find out what type of gift can make her happy for certain occasions, contact us - we may find that secretly, to assist you to proceed with the woman of your dream. Those of men who take advantage of this service show way better results and progress in time.
                p Our flowers and gifts delivery service is available even for ladies unregistered with us. Provide us with her contact phone and we deliver the present you order. Our prices are completely reasonable and competitive. There are no third pates between you and us, hence the low affordable price. We send you three photos of delivery for free. A good way to find out how she looks like!
                br
                a(href="#") New unique service- video of lady at delivery with her words of gratefulness to you for as cheap as 29$!
                br
                p Remember that in Slavic culture we only send an uneven amount of flowers, to avoid undesired disappointment (even amount of flowers here is only for funerals.)
                br
                h2 How to send a gift to the woman
                ol
                    li 1. Choose one of the gifts or flowers below
                    li 2. Proceed with payment until notification about successful payment
                    li 3. Contact us with subject "Gift order"
                    li 4. In your message, please indicate:
                        ul
                            li id number of woman you send your gift to ( indicated in general gallery under her photo, looks like ab1234)
                            li date when we delver your present to lady
                            li your message to her ( to be delivered together with the present)
                            li photo or video of delivery (or both)
                            li any additional information you find useful regarding this order
                br
                p
                    b
                        a(href="#") Thank you for letting us give you our service!
                br
                .gifts
                    .gifts__item
                        img(src="static/images/media/gift-1.png")
                        .gifts__description
                            p
                                strong Passionate Red Roses
                            p Red roses on long stems — what will describe your feelings better? This bouquet is laconic but elegant. It is appropriate in any situation! The minimum amount is 3 roses. Choose the uneven amount only. (because of local cultural nuances)
                        .gifts__cost
                            b 7$
                    .gifts__item
                        img(src="static/images/media/gift-1.png")
                        .gifts__description
                            p
                                strong Passionate Red Roses
                            p Red roses on long stems — what will describe your feelings better? This bouquet is laconic but elegant. It is appropriate in any situation! The minimum amount is 3 roses. Choose the uneven amount only. (because of local cultural nuances)
                        .gifts__cost
                            b 7$
                    .gifts__item
                        img(src="static/images/media/gift-1.png")
                        .gifts__description
                            p
                                strong Passionate Red Roses
                            p Red roses on long stems — what will describe your feelings better? This bouquet is laconic but elegant. It is appropriate in any situation! The minimum amount is 3 roses. Choose the uneven amount only. (because of local cultural nuances)
                        .gifts__cost
                            b 7$
                    .gifts__item
                        img(src="static/images/media/gift-1.png")
                        .gifts__description
                            p
                                strong Passionate Red Roses
                            p Red roses on long stems — what will describe your feelings better? This bouquet is laconic but elegant. It is appropriate in any situation! The minimum amount is 3 roses. Choose the uneven amount only. (because of local cultural nuances)
                        .gifts__cost
                            b 7$
    include modules/contacts/contacts