extends template/main

block variables

    - var title = 'Главная страница'
    - var pageClass = 'index-page'

block content
    section.cover
        img(src="static/images/BG_first_scroll.jpg")
        .container
            .cover__content
                h2.cover__title Online dating and professional matchmaking in Ukraine
                p.cover_description Take the first step to new relationships now. Get a personal consultation with the expert matchmaker on Skype absolutely free
                button.button#bookCall Book a call
    section.features
        .section__title We help men around the world meet the woman of their dreams
        .container
            .features__list
                .features__item
                    span.icon_partnersForLife
                    p 87% of clients find partners for life
                .features__item
                    span.icon_experience
                    p 19 Years of experience
                .features__item
                    span.icon_vatchedPairs
                    p Over 500 successfully matched pairs
                .features__item
                    span.icon_ukrGirl
                    p Over 1000 profiles of Ukrainian girls
                .features__item
                    span.icon_verifieldProfiles
                    p All ladies profiles verified by our experts
    section.regFormWrapper(style="background-image: url('static/images/BG_girl_in_black_dress.jpg');')")
        .container
            .regFormText
                h2.regFormText__title Over 1000 verified profiles of Ukrainian beauties
                p.regFormText__description Do not waste time, register and find love right now
                ul
                    li Get access to the profiles of girls
                    li Make video dates
                    li Make meetings live
                    li Book Dating tours
            .regForm
                form
                    .regForm__box
                        .regForm__title REGISTER WITH
                        .regForm__social
                            a.socialLink.fb(href="#")
                            a.socialLink.gg(href="#")
                        .regForm__title OR VIA EMAIL ADDRESS
                        input.field(type="text" placeholder="Name" id="name" name="name")
                        input.field(type="number" placeholder="Age" id="age" name="age")
                        input.field(type="email" placeholder="Email" id="email" name="email")
                        input.field(type="password" placeholder="Password" id="password" name="password")
                        button.button#sendRegForm Sign up for free
    section.featuresMini
        .container
            .featuresMini__list
                .featuresMini__item
                    span.featuresMini__icon.iconMoneyBack
                    span.featuresMini__text Anti-scam money back guarantee
                .featuresMini__item
                    span.featuresMini__icon.iconGoldList
                    span.featuresMini__text We are in Gold List of FSU marriage agencies
                .featuresMini__item
                    span.featuresMini__icon.iconVettedLadies
                    span.featuresMini__text Only personally vetted ladies listed
    section.quickForm(style="background-image: url('static/images/BG_girl_in_blue_dress.jpg');')")
        .container
            h2.quickForm__title Take the first step to new relationships now. Get a personal consultation with an expert matchmaker on Skype absolutely free!
            p.quickForm__description We will gladly help you to choose the best way to search for your second half
            .quickForm__wrapper
                form
                    .quickForm__formBox
                        input.field(type="text" placeholder="Skype or Phone number" id="phone" name="phone")
                        input.field(type="text" placeholder="Preferred time" id="time" name="time")
                        button.button#sendQuickForm Book a call
    section.stories
        .container
            .section__title Love Stories
            .stories__list.slider#storiesSlider
                .stories__item
                    .elipseFrame
                        img(src="static/images/MaskGroup.jpg")
                    .story__title Sam and Tatiana
                    .story__description
                        p Now Marina is on the process of collecting the documents for visa and travel to New Zealand to meet Steve and his family. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                .stories__item
                    .elipseFrame
                        img(src="static/images/MaskGroup.jpg")
                    .story__title Sam and Tatiana
                    .story__description
                        p Now Marina is on the process of collecting the documents for visa and travel to New Zealand to meet Steve and his family. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                .stories__item
                    .elipseFrame
                        img(src="static/images/MaskGroup.jpg")
                    .story__title Sam and Tatiana
                    .story__description
                        p Now Marina is on the process of collecting the documents for visa and travel to New Zealand to meet Steve and his family. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

    section.contactsWrapper
        .map
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2747.150641118089!2d30.7336534155504!3d46.48532947912625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c631962cbb44c1%3A0x1dbe78653ee6c8ba!2z0JPQsNCy0LDQvdC90LDRjyDRg9C7Liwg0J7QtNC10YHRgdCwLCDQntC00LXRgdGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCA2NTAwMA!5e0!3m2!1sru!2sua!4v1561150906772!5m2!1sru!2sua" width="100%" height="369" frameborder="0" style="border:0" allowfullscreen)
        .contacts
            .contacts__title Contact us
            .contacts__data
                div
                    strong Adress:
                    a Street, Odessa, Ukraine
                div
                    strong Phone number:
                    a +38 (068) 120-03-00
                div
                    strong E-mail:
                    a info@adam-and-eva.com
                div
                    strong Skype:
                    a odesa_135
