extends template/main

block variables

    - var title = 'Главная страница'
    - var pageClass = 'indexPage'

block content
    section.cover
        .container
            .cover__content
                .cover__title Online dating and professional matchmaking in Ukraine
                p.cover_description Take the first step to new relationships now. Get a personal consultation with the expert matchmaker on Skype absolutely free
                button.button#bookCall Book a call
    section.features
        .container
            .section__title We help men around the world meet the woman of their dreams
            .features__list
                .features__item
                    span.icon_partnersForLife
                    p 87% of clients find partners for life
                .features__item
                    span.icon_experience
                    p 19 Years of experience
                .features__item
                    span.icon_vatchedPairs
                    p Over 500 successfully matched pairs
                .features__item
                    span.icon_ukrGirl
                    p Over 1000 profiles of Ukrainian girls
                .features__item
                    span.icon_verifieldProfiles
                    p All ladies profiles verified by our experts
    section.regFormWrapper
        .container
            .regFormText
                .regFormText__title Over 1000 verified profiles of Ukrainian beauties
                p.regFormText__description Do not waste time, register and find love right now
                ul
                    li Get access to the profiles of girls
                    li Make video dates
                    li Make meetings live
                    li Book Dating tours
            .regForm
                form
                    .regForm__box
                        .regForm__title REGISTER WITH
                        .regForm__social
                            a.socialLink.fb(href="#")
                            a.socialLink.gg(href="#")
                        .regForm__title.regForm__title-second OR VIA EMAIL ADDRESS
                        input.field(type="text" placeholder="Name" id="regForm-name" name="name")
                        input.field(type="number" placeholder="Age" id="regForm-age" name="age")
                        input.field(type="email" placeholder="Email" id="regForm-email" name="email")
                        input.field(type="password" placeholder="Password" id="regForm-password" name="password")
                        button.button How it works
    section.featuresMini
        .container
            .featuresMini__list
                .featuresMini__item
                    span.featuresMini__icon.iconMoneyBack
                    span.featuresMini__text Anti-scam money back guarantee
                .featuresMini__item
                    span.featuresMini__icon.iconGoldList
                    span.featuresMini__text We are in Gold List of FSU marriage agencies
                .featuresMini__item
                    span.featuresMini__icon.iconVettedLadies
                    span.featuresMini__text Only personally vetted ladies listed


    section.tariffs
        .container
            .section__title You can use Adam and Eva in 3 different ways
            .tariffs__list
                .tariffs__item
                    span.tariffs__mark.iconMostPopular
                    span.tariffs__label Most Popular
                    .tariffs__title Independent search for a pair
                    .tariffs__descripion In order to find a pair of your own, you need to register. After that you will get free access to the profiles of participants (more than 4000 girls)
                    ul.tariffs__features
                        li Find a mate
                        li Chat with your favorite girls
                        li Date by video
                        li Meet the girls live
                    button.button.modalOpen(data-modal="modalRegForm") Sign up for free
                .tariffs__item
                    span.tariffs__mark.iconBestChoice
                    span.tariffs__label.tariffs__label-red Best Choice
                    .tariffs__title Professional matchmaking
                    .tariffs__descripion The help of a professional matchmaker is the key to success in finding the second half. We study in detail the needs of both parties in order to find the perfect match
                    ul.tariffs__features
                        li This program is suitable for men with a clear intention to find their love and start a family
                        li Matchmaking program allows you to save years of searching for a partner
                        li We select girls with whom we spoke personally and are confident in their intentions
                        li If we do not pick you up a couple, we will return the money
                    button.button.button-red Book a free call
                .tariffs__item
                    span.tariffs__mark.iconHighPerformance
                    span.tariffs__label.tariffs__label-pink High Performance
                    .tariffs__title ROMANCE TOURS
                    .tariffs__descripion More than 75% of Adam and Eva's romantic tours end in a serious relationship. We help our clients at every stage of the tour. We hold consultations before and after meeting with girls
                    ul.tariffs__features
                        li Duration of the tour to Ukraine from 3 to 14 days
                        li Up to 16 dates with selected girls
                        li Professional matchmaker help
                        li We undertake the organization of your residence in Ukraine
                    button.button.button-pink Learn more
    section.simpleInfo(style="background-image: url('static/images/bg_simpleInfo.jpg');")
        .container
            .simpleInfo__content
                .simpleInfo__title How to increase the chance of finding the woman of your dreams?
                .simpleInfo__text
                    p There are many girls in Ukraine who are looking for a serious relationship abroad. We know how difficult it is to find a suitable life partner among thousands of women. And the most important thing is to be sure that the lady has really serious intentions. That's why we have been professionally providing matchmaking services for more than 19 years. We help men to find a life partner by spending only a few months on this and save thousands of dollars. Adam and Eva have the highest success rate among European matchmaking agencies. We have packed a difficult process of finding a partner in 10 simple steps, after which you can find your Ukrainian bride.
                button.button Sign up for free
    section.videoTestimonials
        .container
            .section__title Testimonials
            .swiper-container#testimonialsSwiper
                .videoTestimonials__list.swiper-wrapper
                    .videoTestimonial__item.swiper-slide
                        .video.paused
                            .video__view
                                video
                                    source(src="/static/video/big_buck_bunny.mp4" type="video/mp4")
                                .video__controlls
                            span.video__title Sam, 42 y.o. from US
                    .videoTestimonial__item.swiper-slide
                        .video.paused
                            .video__view
                                video
                                    source
                                .video__controlls
                            span.video__title Sam, 42 y.o. from US
                .swiper-pagination
    section.stories
        .container
            .section__title Love Stories
            .swiper-container#storiesSwiper
                .stories__list.swiper-wrapper
                    .swiper-slide
                        .stories__item
                            .elipseFrame
                                img(src="static/images/MaskGroup.jpg")
                            .story__title Sam and Tatiana
                            .story__description
                                p Now Marina is on the process of collecting the documents for visa and travel to New Zealand to meet Steve and his family. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                    .swiper-slide
                        .stories__item.swiper-slide
                            .elipseFrame
                                img(src="static/images/MaskGroup.jpg")
                            .story__title Sam and Tatiana
                            .story__description
                                p Now Marina is on the process of collecting the documents for visa and travel to New Zealand to meet Steve and his family. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                    .swiper-slide
                        .stories__item.swiper-slide
                            .elipseFrame
                                img(src="static/images/MaskGroup.jpg")
                            .story__title Sam and Tatiana
                            .story__description
                                p Now Marina is on the process of collecting the documents for visa and travel to New Zealand to meet Steve and his family. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                .swiper-pagination
    section.quickForm(style="background-image: url('static/images/BG_girl_in_blue_dress.jpg');')")
        .container
            .quickForm__title Take the first step to new relationships now. Get a personal consultation with an expert matchmaker on Skype absolutely free!
            p.quickForm__description We will gladly help you to choose the best way to search for your second half
            .quickForm__wrapper
                form
                    .quickForm__formBox
                        input.field(type="text" placeholder="Skype or Phone number" id="phone" name="phone")
                        input.field(type="text" placeholder="Preferred time" id="time" name="time")
                        button.button#sendQuickForm Book a call
    section
        .container
            .forMoreText(style="height:255px;")
                h3 OUR HISTORY AND MISSION
                br
                p Adam and Eva matchmaking agency was founded in 2000, those years we operated as traditional dating services agency: Western men and Ukrainian women for marriage corresponded with each other, men could send ladies gifts, and the most important - a man could visit the lady in her City, To communicate with the lady face-to-face and see if the chemistry is there. From the very start we gained reputation of honest and reliable, totally scam-free marriage agency in Ukraine. Since 2006 when IMBRA was implemented, we are fully IMBRA compliant. From the very beginning our mission is to let singles meet and build long-term relationships in the modern world. Real-life meetings between customers are the base of our business. The most popular service we offer is Individual matchmaking tour to Ukraine, this service is very smartly composed and men do not think of lodging, airport transfers etc., and only concentrate on communication with the lady he is coming to visit.
                p As the time goes, the approach in our business operation changed. We are happy to see how many happy couples we made, and the same time we clearly understood that we could do much better, and make more couples. We noticed very clearly that our gentlemen and ladies both lack the assistance of a dating professional, who could train them, explain them the difference between cultures, explain what is needed to make sure the couple will last. We saw that customers need to be guided, otherwise many of them never be able to find a spouse due to unrealistic expectations, non-settled priorities, etc. By 2009 the owner of the agency was already a trained family psychologist and certified international matchmaker. We implemented new approach in work with our clients, personal matchmaking services. By that time, and now, this service is not very well known in comparison to traditional dating services, mainly because it is highly professional, rare and unique bespoke service in dating. But in some countries, like USA or Australia, or United Kingdom, matchmaking services are very popular.
    include modules/contacts/contacts