extends template/main


block content
    section
        .container
            .section__text
                h1 Introduction
                h2 One date may change your life forever!
                p Face to face meeting is your real start. At Adam-and-Eva.com you meet easy going, educated and family-minded ladies who seek a reliable man for love and romance leading to marriage. Ladies from all cities may come to Odesa to meet you here. You meet in a pleasant cafe for coffee and dessert to see if you are compatible. 100% scam protection.
                br
                h2 How introduction service works
                img.floatRight(src="static/images/media/textImg.png")
                p
                    strong 1. You tell us about your search criterias
                p To help you in your search, we ask about your preferences and you first.
                p You email us your profile and search criteria, or visit our office and tell, or arrange an initial matchmaking interview with our matchmaker to tell her about your search in detail, to succeed.
                p The fastest way is to email us your criteria for the search. The way it works - to get a hold of a matchmaker and work with her.
                p Visit to our office is great option too, if we can find time that fits both you and us, while your time in Ukraine is so precious.
                br
                p
                    strong 2. You email us ladies ID nrs + your details
                p You
                    a register on our website
                    | for free. Compose your tour.
                p You
                    a look through ladies
                    | catalogue and choose ladies.
                p You email us ID numbers of ladies you chose + your recent photos + your information, such as:
                p * days of your stay in Odessa and time/days options, convenient for meetings
                p * date of birth,
                p * height and weight, hair, and eyes color
                p * marital status
                p * age of children if any, desire to have kids in future
                p * education and current profession
                p * your short self-description (your personal qualities, life values, goals, priorities, likes, and dislikes, expectations of dating and plans for the future).
                br
                p
                    strong See the photo below to find where you get ID numbers of ladies
                .candidate__list.candidate__list-textPage
                    a.candidate__item(href="ladiesItem.html")
                        img(src="static/images/media/image1.jpg")
                        .candidate__title Name, City
                        footer
                            span 30 y.o
                            span ID: sn0807
                    a.candidate__item(href="ladiesItem.html")
                        img(src="static/images/media/image2.jpg")
                        .candidate__title Name, City
                        footer
                            span 30 y.o
                            span ID: sn0807
                    a.candidate__item(href="ladiesItem.html")
                        img(src="static/images/media/image3.jpg")
                        .candidate__title Name, City
                        footer
                            span 30 y.o
                            span ID: sn0807
                    a.candidate__item(href="ladiesItem.html")
                        img(src="static/images/media/image4.jpg")
                        .candidate__title Name, City
                        footer
                            span 30 y.o
                            span ID: sn0807
                p
                    strong 3. We arrange  live date with women from our catalogue
                p
                    strong To schedule and guarantee your dates in advance:
                p
                    strong For men who want to show ladies, they are SERIOUS about their search and expect a conforming attitude from ladies.
                p
                    strong let us know the ID numbers of chosen girls.
                p
                    strong We tell you who of them considers a man like you.
                p Tell them about your intentions.
                p When chosen ladies confirm interest in meeting you, prepayment is required to confirm day/time/place of meeting.  You can prepay your meetings at the bottom of this page. We get your payment, confirm and schedule all your meetings during the days of your stay in Ukraine. To save on costs and strongly increase your chances to succeed, you may consider suitable
                    a(href="#") romantic tour package.
                p
                    strong If you are in Ukraine already:
                p We meet you in our office and call chosen ladies.
                p They confirm interest in meeting you and you prepay meetings.
                p We confirm day/time/place of meetings.

    section.quickForm(style="background-image: url('static/images/BG_girl_in_blue_dress.jpg');')")
        .container
            .quickForm__title Take the first step to new relationships now. Get a personal consultation with an expert matchmaker on Skype absolutely free!
            p.quickForm__description We will gladly help you to choose the best way to search for your second half
            .quickForm__wrapper
                form
                    .quickForm__formBox
                        input.field(type="text" placeholder="Skype or Phone number" id="phone" name="phone")
                        input.field(type="text" placeholder="Preferred time" id="time" name="time")
                        button.button#sendQuickForm Book a call
    section
        .container
            .section__text
                h1 How is introduction performed
                p You introduce yourself to compatible ladies by letter or video date and tell you to meet in a pleasant cafe for coffee and dessert to see if you are compatible. The arranged meeting lasts at least 1 hour. If some of you do not feel like this is your match, in 1 hour you may initiate the end of the meeting, politely thank the person for meeting and wish all the luck for the future.  If the lady does not know English, there will be an interpreter provided. Upon agreement, together with the lady and an interpreter, your meeting may move to another location, restaurant, café, etc.
                br
                h1 Rules for introduction service
                p Payment first, condirmation of the meeting second. Should lady not show up for some reason- you get your money back. Should you not come on a date arranged for any reason, we keep the money.
                img.floatRight(src="static/images/media/textImg.png")
                p Come to Odessa If you want to take maximum advantage of our introduction, matchmaking service and years of our priceless professional experience, we recommend considering one of matchmaking tour packages.
                p We offer smartly composed tours, matchmaking assistance of the agency professionals, high standards of services, an effective approach to matchmaking,  and bigger value for money eventually.  Take advantage of our personal tours or compose your own tour package!
                br
                .quickPaymentButton
                    span Quick payment button
                    button.button Pay
    section.contactsWrapper
        .map
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2747.150641118089!2d30.7336534155504!3d46.48532947912625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c631962cbb44c1%3A0x1dbe78653ee6c8ba!2z0JPQsNCy0LDQvdC90LDRjyDRg9C7Liwg0J7QtNC10YHRgdCwLCDQntC00LXRgdGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCA2NTAwMA!5e0!3m2!1sru!2sua!4v1561150906772!5m2!1sru!2sua" width="100%" height="507" frameborder="0" style="border:0" allowfullscreen)
        .haveQuestions
            .haveQuestions__title
                span Still have questions?
                span Contact us!
            .haveQuestions__form
                form
                    .haveQuestions__formInside
                        input.field(type="text" placeholder="Name")
                        input.field(type="text" placeholder="Email")
                        input.field(type="text" placeholder="Subject")
                        textarea.fieldTextarea Text
                        button.button Send mail