extends template/main

block variables

    - var title = 'Список девушек'

block content
    section.candidateList
        .container
            .section__title Members Gallery
            .filter
                form(action)
                    .filter__box
                        .filter__fieldGroup.mobHide
                            span Age:
                            label.filter__label
                                .ageSlider(data-min="18" data-max="56")
                                    .ui-fromAge
                                    .ui-toAge
                        .filter__fieldGroup.mobHide
                            span Children:
                            label.filter__label(for="children")
                                select.field(id="children" name="children")
                                    option(value="Yes") Yes
                                    option(value="No") No
                        .filter__fieldGroup.mobHide
                            span Hair color:
                            label.filter__label(for="hairColor")
                                select.field(id="hairColor" name="hairColor")
                                    option(value="Yes") Yes
                                    option(value="No") No
                                    option(value="Any") Any
                        .filter__fieldGroup.mobHide
                            span City:
                            label.filter__label(for="city")
                                select.field(id="city" name="city")
                                    option(value="Yes") Yes
                                    option(value="No") No
                        .filter__fieldGroup.filter__fieldGroup-search.mobHide
                            .filterOpenBtn
                            span Search by Name, ID
                            label.filter__label(for="searchField")
                                input.field(type="text" id="searchField" name="searchField")
                                span.iconSearch
            .candidate__list
                a.candidate__item(href="ladiesItem.html")
                    img(src="static/images/media/image1.jpg")
                    .candidate__title Name, City
                    footer
                        span 30 y.o
                        span ID: sn0807
                a.candidate__item(href="ladiesItem.html")
                    img(src="static/images/media/image2.jpg")
                    .candidate__title Name, City
                    footer
                        span 30 y.o
                        span ID: sn0807
                a.candidate__item(href="ladiesItem.html")
                    img(src="static/images/media/image3.jpg")
                    .candidate__title Name, City
                    footer
                        span 30 y.o
                        span ID: sn0807
                a.candidate__item(href="ladiesItem.html")
                    img(src="static/images/media/image4.jpg")
                    .candidate__title Name, City
                    footer
                        span 30 y.o
                        span ID: sn0807
                a.candidate__item(href="ladiesItem.html")
                    img(src="static/images/media/image5.jpg")
                    .candidate__title Name, City
                    footer
                        span 30 y.o
                        span ID: sn0807
                a.candidate__item(href="ladiesItem.html")
                    img(src="static/images/media/image6.jpg")
                    .candidate__title Name, City
                    footer
                        span 30 y.o
                        span ID: sn0807
                a.candidate__item(href="ladiesItem.html")
                    img(src="static/images/media/image7.jpg")
                    .candidate__title Name, City
                    footer
                        span 30 y.o
                        span ID: sn0807
                a.candidate__item(href="ladiesItem.html")
                    img(src="static/images/media/image8.jpg")
                    .candidate__title Name, City
                    footer
                        span 30 y.o
                        span ID: sn0807
            a.viewAllButton Show more ladies
            .pagination
               .pagination__list
                   a.pagination__item.prevArrow.prevArrow-disable(href="#")
                   a.pagination__item(href="#") 1
                   a.pagination__item.active(href="#") 2
                   a.pagination__item(href="#") 3
                   a.pagination__item(href="#") 4
                   a.pagination__item(href="#") ...
                   a.pagination__item(href="#") 5
                   a.pagination__item.nextArrow(href="#")
    section.quickForm(style="background-image: url('static/images/quickForm-2.jpg');')")
        .container
            .quickForm__title Book an expert call to learn more about our programs! Up to 20% of girls' profiles that are in our database are posted on our website.
            p.quickForm__description All other profiles are available as part of our matchmaking program and romance tours
            .quickForm__wrapper
                form
                    .quickForm__formBox
                        input.field(type="text" placeholder="Skype or Phone number" id="phone" name="phone")
                        input.field(type="text" placeholder="Preferred time" id="time" name="time")
                        button.button#sendQuickForm Book a call
    include modules/contacts/contacts