extends template/main

block variables

    - var title = 'Карточка девушки'

block content
    section
        .container
            .breadcrumbs
                a.breadcrumbs__item(href="#") Members Gallery
                a.breadcrumbs__item(href="#") Name
    section.candidateProfile
        .container
            .candidateProfile__box
                .candidateProfile__photo
                    img(src="static/images/media/avatar.jpg")
                    .thumbPhoto
                        .thumbPhoto__item
                            img(src="static/images/media/avatar.jpg")
                        .thumbPhoto__item
                            img(src="static/images/media/avatar.jpg")
                        .thumbPhoto__item
                            img(src="static/images/media/avatar.jpg")
                        .thumbPhoto__item
                            img(src="static/images/media/avatar.jpg")
                        .thumbPhoto__item
                            img(src="static/images/media/avatar.jpg")
                        .thumbPhoto__item
                            img(src="static/images/media/avatar.jpg")
                    a.viewAllButton(href="#") View all
                    .video.paused
                        .video__view
                            video
                                source(src="/static/video/big_buck_bunny.mp4" type="video/mp4")
                            .button-modalVideo.modalOpen(data-modal="modalConfirmAction")
                .candidateProfile__info
                    .candidateProfile__general
                        .candidateProfile__interaction
                            a.button.button-interaction.iconSendLetter#sendLetter Send letter
                            a.button.button-interaction.iconArrangeVideodate Arrange videodate
                            a.button.button-interaction.iconArrangeLiveDate Arrange live date
                            a.button.button-interaction.iconSendGift#sendGift Send a gift
                            a.button.button-interaction.iconBookRomanceTour Book romance tour
                            a.button.button-interaction.iconAddToTavorite#addToFavorite Add to favorite
                        .candidateProfile__mainData
                            header
                                .candidateProfile__name Svetlana
                                .candidateProfile__ID ID: sn0807
                            footer
                                .candidateProfile__fact
                                    span Date of birth:
                                    span 29-May-199
                                .candidateProfile__fact
                                    span Height:
                                    span 175 cm
                                .candidateProfile__fact
                                    span Body type:
                                    span 65 kg
                                .candidateProfile__fact
                                    span Hair color:
                                    span Blonde
                                .candidateProfile__fact
                                    span Eyes color:
                                    span Green
                                .candidateProfile__fact
                                    span Drinking, smoking:
                                    span No, no
                                .candidateProfile__fact
                                    span Date of birth:
                                    span 29-May-199
                                .candidateProfile__fact
                                    span Height:
                                    span 175 cm
                                .candidateProfile__fact
                                    span Body type:
                                    span 65 kg
                                .candidateProfile__fact
                                    span Hair color:
                                    span Blonde
                                .candidateProfile__fact
                                    span Eyes color:
                                    span Green
                                .candidateProfile__fact
                                    span Drinking, smoking:
                                    span No, no
                    .candidateProfile__about
                        .candidateProfile__aboutText
                            p
                                b About Me
                            p I am feminine, humorous and kind lady.) My friends say I am very responsible and a great friend. Sometimes I can be serious)). I am a faithful person by nature, and I believe faithfulness is the only possible format of serious relationships. I am many-sided personality and enjoy many things in life. I am an educated person. As a woman I am sensitive, mild and tender. I am a classical woman with traditional family-oriented values, I am here to meet a good man for me and create a family together. I am sincere, kind and honest lady and wish to meet a man with alike qualities and goals.
                            p
                                b My Dream Man
                            p My man is life loving person with a good sense of humor. He is wise, noble, attentive and charming. I see my man as a leader, I have a respect for my man. I like when a man knows how to find approach to his lady.) My man is comunicative person and likes to talk to his woman much.) I hope we can have mutual hobbies and raise more things in common together.
                            p
                                b Hobbies
                            p Main hobbies dancing, I do this on a professional basis actually. I am a trainer also. I go to fitness 4 times a week, swimming 2 times a week. Other sports I like are bicycling and roller skating. In the summer I adore beach volleyball and can play the whole day. Ice-skating in the winter. I love to play guitar and do this often. I attend actor's school because I like to express emotions in a beautiful way.)) I think it is so romantic!) I love traveling and want to travel much in the future.

                        .candidateProfile__aboutText
                            p
                                b Interview
                            div
                                strong My three most striking features:
                                span Responsible, kind, faithful
                            div
                                strong The same from friends words:
                                span Humorous, reliable friend, kind
                            div
                                strong Three features I admire in men:
                                span Sincerity, desire to court on his woman, wisdom
                            div
                                strong What animal I compare myself with:
                                span White horse
                            div
                                strong What animal I compare my Man with:
                                span Dark-brown horse
                            div
                                Am I a listener or talker:
                                span 50/50
                            div
                                strong My attitude to humor:
                                span very important part of life
                            div
                                strong Am I religious:
                                span I am Christian, I am a believer inside my soul
                            div
                                strong Do I want kids in the future:
                                span It is possible, if my husband will want a child
                            div
                                strong Do I smoke:
                                span No
                            div
                                strong Do I drink alcohol:
                                span No
                            div
                                strong Do I have other harmful habits or addictions:
                                span No
                        .candidateProfile__aboutText
                            p
                                b Feedback from Adam and Eve
                            p We know Yuliya at the agency already for a year. She is very positive girl from all sides. Yuliya comes from a good family and she is the only child there. Her parents have good relationships and the family has got a good income. They sometimes allow themselves to go abroad to rest with their child. The Parents are engaged in trade. Yuliya is studying IT and PR at the Polytechnic University in Odessa. At the same time, she is actively involved in sports and works as a choreographer.
                            p The girl is able to communicate informatively, she is not superficial. Despite the fact that she is a young lady and does not have much experience in dealing with men, respect for a woman has great importance for her. She had couple of meetings with young people in the agency, but the relationship did not start due to the fault of gentlemen. Yuliya is very careful and respectful person, she knows how to set the boundaries between personal and public spheres. She definitely can organize her time and appreciates the time of other people.
                            p In communication, she sometimes seems a little bit restrained, but this is because of shyness during the first minutes of conversation. For Yuliya’s mind, the appearance of a young man is not of paramount importance, but intelligence is really essential for her. Her well-being is also important, because she would like to live in an atmosphere where she doesn’t need to care a lot about her daily needs. As she is grown up in a  quiet wealthy family by Ukrainian standards, welfare will be of great importance to her. At the same time, a man can impress her with his personal qualities, but not his financial position. Julia will definitely consider only the man who she will love. We recommend Yuliya as an honest, responsible lady with serious attitude towards family relationships.
    section.seen
        .container
            .section__title Recently viewed
            .candidateSlider__list.slider#seenSlider
                a.candidateSlider__item(href="ladiesItem.html")
                    img(src="static/images/media/image1.jpg")
                    .candidateSlider__title Name, City
                    footer
                        span 30 y.o
                        span ID: sn0807
                a.candidateSlider__item(href="ladiesItem.html")
                    img(src="static/images/media/image2.jpg")
                    .candidateSlider__title Name, City
                    footer
                        span 30 y.o
                        span ID: sn0807
                a.candidateSlider__item(href="ladiesItem.html")
                    img(src="static/images/media/image6.jpg")
                    .candidateSlider__title Name, City
                    footer
                        span 30 y.o
                        span ID: sn0807
                a.candidateSlider__item(href="ladiesItem.html")
                    img(src="static/images/media/image7.jpg")
                    .candidateSlider__title Name, City
                    footer
                        span 30 y.o
                        span ID: sn0807
                a.candidateSlider__item(href="ladiesItem.html")
                    img(src="static/images/media/image8.jpg")
                    .candidateSlider__title Name, City
                    footer
                        span 30 y.o
                        span ID: sn0807
                a.candidateSlider__item(href="ladiesItem.html")
                    img(src="static/images/media/image8.jpg")
                    .candidateSlider__title Name, City
                    footer
                        span 30 y.o
                        span ID: sn0807
                a.candidateSlider__item(href="ladiesItem.html")
                    img(src="static/images/media/image8.jpg")
                    .candidateSlider__title Name, City
                    footer
                        span 30 y.o
                        span ID: sn0807
