extends template/main


block content
    section
        .container
            .section__text
                h1 Mail forwarding
                h2 Get to know her through letters and meet soon!
                p Mail forwarding service is recommended, if you plan to visit Odessa soon to meet ladies you write to Ladies don't believe in letters writing for a long time with little to vague perspective of a real meeting.
                    strong Our women are real and they seek real men!
                p
                    strong In our agency, mail forwarding service is operated on an executive level with high standard of honesty and transparency.
                    | We value the feedback of our clients and know why many of you doubt about letters writing on other sites, to remove your doubts and make you confident of genuine service you get with us, we continue our tradition providing you with the scanned hand-written certificate of the delivery of your letters. New option - you may request a phone call record (in case the letter is delivered and response is dictated over the phone per lady's request.) Nowadays phone delivery/answers collecting is most popular due to the business of ladies living in Odessa.
                img.floatRight(src="static/images/media/textImg.png")
                p The very correspondence service itself is a very powerful tool if you want to get to know the lady better and even become a part of her life. In our agency girls are advised to treat letters writing seriously. A woman may be very interested and can ask all the questions they want to know about a man. Writing letters bookend forth may considerably help every man to prepare for the meeting duly. Our professional matchmaking translators make sure the lady gives the informative response, to eliminate not informative letters exchange. We recommend men to ask ladies as many questions as possible. Please read our Letters Writing Tips to be better prepared.

    section.quickForm(style="background-image: url('static/images/BG_girl_in_blue_dress.jpg');')")
        .container
            .quickForm__title Take the first step to new relationships now. Get a personal consultation with an expert matchmaker on Skype absolutely free!
            p.quickForm__description We will gladly help you to choose the best way to search for your second half
            .quickForm__wrapper
                form
                    .quickForm__formBox
                        input.field(type="text" placeholder="Skype or Phone number" id="phone" name="phone")
                        input.field(type="text" placeholder="Preferred time" id="time" name="time")
                        button.button#sendQuickForm Book a call
    section
        .container
            .section__text
                h2 How does mail forwarding service works?
                p Mail forwarding service is organized in a convenient way both for men and women. Your letter is translated for your lady over the phone the same day when it arrives, she dictates hen answer to our translator over the phone in Russian. After the letter is translated, we forward it back to you. Standardly, it takes one-two days maximum to get the answer from your lady.
                p Our agency respects the confidence of our clients; we wish you to use all of our services with peace of mind. For that, we have got the option to request a phone call record (In case the letter is delivered and response is dictated over the phone per lady's request.). Our approach is based on years of experience, demands of present times and our desire to improve the reputation of this excellent service in the eyes of western men. Both you and we know - with letters, video, and phone calls you to receive reliable, authentic, proper communication with your woman (while online chat may delay virtual pleasure forever, even if you meet.)
    section.contactsWrapper
        .map
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2747.150641118089!2d30.7336534155504!3d46.48532947912625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c631962cbb44c1%3A0x1dbe78653ee6c8ba!2z0JPQsNCy0LDQvdC90LDRjyDRg9C7Liwg0J7QtNC10YHRgdCwLCDQntC00LXRgdGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCA2NTAwMA!5e0!3m2!1sru!2sua!4v1561150906772!5m2!1sru!2sua" width="100%" height="369" frameborder="0" style="border:0" allowfullscreen)
        .contacts
            .contacts__title Contact us
            .contacts__data
                div
                    strong Adress:
                    a Street, Odessa, Ukraine
                div
                    strong Phone number:
                    a +38 (068) 120-03-00
                div
                    strong E-mail:
                    a info@adam-and-eva.com
                div
                    strong Skype:
                    a odesa_135