extends template/main

block variables

    - var title = 'Карта сайта'

block content
    section.myProfileHeader
        .container
            h1 Карта страниц сайта
            div
                button.button.modalOpen(data-modal="modalNotEnoughMoney") modal Not Enough Money
                button.button.modalOpen(data-modal="modalSendLetter") modal Send Letter
                button.button.modalOpen(data-modal="modalSelectOptions") modal Select Options
                button.button.modalOpen(data-modal="modalArrangeVideoDate") modal Arrange video date
                button.button.modalOpen(data-modal="modalSendGift") modal Send a gift
                button.button.modalOpen(data-modal="modalAdditionalOptions") modal Additional Options
            ul(style="column-count:2;")
                li
                    a(href="/") Main
                li
                    a(href="ladiesList.html") Ladies List
                li
                    a(href="ladiesItem.html") Ladies Item
                li
                    a(href="ladiesItem.html") Ladies Item
                li
                    a(href="myProfile.html")  My Profile
                li
                    a(href="myProfile.html")  Edit Profile
                li
                    a(href="personalDetails.html")  Personal Details
                li
                    a(href="editPersonalDetails.html") Edit Personal Details
                li
                    a(href="idealLady.html") Ideal Lady
                li
                    a(href="editIdealLady.html") Edit Ideal Lady
                li
                    a(href="services.html") Services
                li
                    a(href="viewedProfiles.html") Viewed Profiles
                li
                    a(href="recentlyProfiles.html") Recently Prof
                li
                    a(href="balance.html") Balance
                li
                    a(href="specialOffers.html") Special Offer
                li
                    a(href="matchmaking.html") Matchmaking
                li
                    a(href="romanceTours.html") Romance Tours
                li
                    a(href="pricing.html") Pricing

            hr
            ul(style="column-count: 2;")
                li
                    a(href="ourMission.html") Our Mission
                li
                    a(href="weDifferent.html") How we are different
                li
                    a(href="servicesDescription.html") Services Description
                li
                    a(href="whyTrustUs.html") Why Trust Us
                li
                    a(href="disclaimer.html") Disclaimer
                li
                    a(href="privacyPolicy.html") Privacy Policy
                li
                    a(href="ukraineRomanceTours.html") Ukraine romance tours by Adam and Eva
                li
                    a(href="introduction.html") Introduction
                li
                    a(href="videoCalls.html") Phone — Video calls
                li
                    a(href="mailForwarding.html") Mail forwarding
                li
                    a(href="translation.html") Translation
                li
                    a(href="gifts.html") Gifts