extends template/main

block variables

    - var title = 'Карта сайта'

block content
    section.myProfileHeader
        .container
            ul(style="column-count:2;")
                li
                    a(href="/") Main
                li
                    a(href="ladiesList.html") Ladies List
                li
                    a(href="ladiesItem.html") Ladies Item
                li
                    a(href="ladiesItem.html") Ladies Item
                li
                    a(href="textPage.html")   Text Page
                li
                    a(href="myProfile.html")  My Profile
                li
                    a(href="myProfile.html")  Edit Profile
                li
                    a(href="personalDetails.html")  Personal Details
                li
                    a(href="editPersonalDetails.html") Edit Personal Details
                li
                    a(href="idealLady.html") Ideal Lady
                li
                    a(href="editIdealLady.html") Edit Ideal Lady
                li
                    a(href="services.html") Services
                li
                    a(href="viewedProfiles.html") Viewed Profiles
                li
                    a(href="recentlyProfiles.html") Recently Prof
                li
                    a(href="balance.html") Balance