extends template/main

block variables

    - var title = 'Карта сайта'

block content
    section.myProfileHeader
        .container
            h1 Карта страниц сайта

            h2 Основные страницы
            ul(style="column-count:2;")
                li
                    a(href="/" style="color: green;") Main
                li
                    a(href="ladiesList.html" style="color: green;") Ladies List
                li
                    a(href="ladiesItem.html" style="color: green;") Ladies Item
                li
                    a(href="myProfile.html" style="color: green;")  My Profile
                li
                    a(href="editProfile.html" style="color: green;")  Edit Profile
                li
                    a(href="personalDetails.html" style="color: green;")  Personal Details
                li
                    a(href="editPersonalDetails.html" style="color: green;") Edit Personal Details
                li
                    a(href="idealLady.html" style="color: green;") Ideal Lady
                li
                    a(href="editIdealLady.html" style="color: green;") Edit Ideal Lady
                li
                    a(href="services.html" style="color: green;") Services
                li
                    a(href="viewedProfiles.html" style="color: green;") Viewed Profiles
                li
                    a(href="recentlyProfiles.html" style="color: green;") Recently Prof
                li
                    a(href="balance.html" style="color: green;") Balance
                li
                    a(href="specialOffers.html" style="color: green;") Special Offer
                li
                    a(href="pricing.html") Pricing
                li
                    a(href="matchmaking.html" style="color: green;") Matchmaking
                li
                    a(href="romanceTours.html") Romance Tours
                li
                    a(href="weekend.html") weekend
                li
                    a(href="week.html") week
                li
                    a(href="loveStory.html") love story
                li
                    a(href="vip.html") vip


            h2 Дополнительные страницы
            hr
            ul(style="column-count: 2;")
                li
                    a(href="ourMission.html" style="color: green;") Our Mission
                li
                    a(href="weDifferent.html" style="color: green;") How we are different
                li
                    a(href="servicesDescription.html" style="color: green;") Services Description
                li
                    a(href="whyTrustUs.html" style="color: green;") Why Trust Us
                li
                    a(href="disclaimer.html" style="color: green;") Disclaimer
                li
                    a(href="privacyPolicy.html" style="color: green;") Privacy Policy
                li
                    a(href="ukraineRomanceTours.html" style="color: green;") Ukraine romance tours by Adam and Eva
                li
                    a(href="introduction.html" style="color: green;") Introduction
                li
                    a(href="videoCalls.html" style="color: green;") Phone — Video calls
                li
                    a(href="mailForwarding.html" style="color: green;") Mail forwarding
                li
                    a(href="translation.html" style="color: green;") Translation
                li
                    a(href="gifts.html" style="color: green;") Gifts

            h2 Модальные окна
            hr
            div(style="display: flex;")
                div(style="display: flex; flex-direction: column; flex-wrap: wrap; align-items: flex-start; width: 50%;")
                    button.button.modalOpen(data-modal="modalNotEnoughMoney" style="color: #439608;") modal Not Enough Money
                    button.button.modalOpen(data-modal="modalSendLetter" style="color: #439608;") modal Send Letter
                    button.button.modalOpen(data-modal="modalSelectOptions" style="color: #439608;") modal Select Options
                    button.button.modalOpen(data-modal="modalArrangeVideoDate" style="color: #439608;") modal Arrange video date
                    button.button.modalOpen(data-modal="modalArrangeVideoDateCalendar" style="color: #439608;") modal Arrange video date calendar
                div(style="display: flex; flex-direction: column; flex-wrap: wrap; align-items: flex-start; width: 50%;")
                    button.button.modalOpen(data-modal="modalArrageLiveDate" style="color: #439608;") modal Arrage Live Date
                    button.button.modalOpen(data-modal="modalSendGift" style="color: #439608;") modal Send a gift
                    button.button.modalOpen(data-modal="modalAdditionalOptions" style="color: #439608;") modal Additional Options
                    button.button.modalOpen(data-modal="modalBookaCall" style="color: #439608;") modal Book a Call
                    button.button.modalOpen(data-modal="modalBookaCallCalendar" style="color: #439608;") modal Book a Call calendar
                    button.button.modalOpen(data-modal="modalConfirmAction" style="color: #439608;") modal Confirm action