extends template/main

block variables

    - var title = 'Мой профиль'
    - var pageClass = 'my-profile'

block content
    section.myProfileHeader
        .container
            .myProfileHeader__box
                .sidebar__title My Account
                .aboutProfile
                    .aboutProfile__box
                        .aboutProfile__text Fill out the profile to increase your chance to find the perfect lady
                        a.aboutProfile__button + Add personal details
                        .aboutProfile__strength
                            span Profile Strength: 15%
                            .percentLine(data-percent="15")
                                span
    section.myProfile
        .container
            .myProfile__box
                .sidebar
                    .sidebar__list
                        a.sidebar__item.sidebar__item-active.iconMyProfile(href="#") My profile
                        a.sidebar__item.iconViwedProfiles(href="#") Viewed profiles
                        a.sidebar__item.iconBalance(href="#") Balance & Payment history
                        a.sidebar__item.iconSpecialOffers(href="#") Special offers
                            span 1
                .profile
                    .tabs
                        a.tabs__item.tabs__item-active(href="#") Main info
                        a.tabs__item(href="#") Personal Details
                        a.tabs__item(href="#") Ideal lady
                    .profile__content
                        a.editProfile(href="editProfile.html") Edit
                        .profile__photoBox
                                .profile__avatar
                                    img(src="static/images/media/man.jpg")
                                .profile__galleryList
                                    .profile__galleryItem.iconPlus
                                        img(src="static/images/media/man.jpg")
                                    .profile__galleryItem.iconPlus
                                    .profile__galleryItem.iconPlus
                        .profile__infoList
                            .profile__infoItem
                                span.profileKey Name:
                                span.profileValue Sergey
                            .profile__infoItem
                                span.profileKey Last name:
                                span.profileValue Dauni
                            .profile__infoItem
                                span.profileKey Date of birth:
                                span.profileValue 23-July-1976
                            .profile__infoItem
                                span.profileKey Email Address:
                                span.profileValue sergeev.be1@gmail.com
                            .profile__infoItem
                                span.profileKey Your country:
                                span.profileValue USA
                            .profile__infoItem
                                span.profileKey Your city:
                                span.profileValue New York
                            .profile__infoItem
                                span.profileKey Phone:
                                span.profileValue +140596774732
                            .profile__infoItem
                                span.profileKey Viber/Whatsapp:
                                span.profileValue 7968593888700
                            .profile__infoItem
                                span.profileKey Your name on skype:
                                span.profileValue @sergeevdauni
