extends template/main


block content
    section
        .container
            .section__text
                h1 Our Mission
                h2 Adam-and-Eva.com: We bring happiness into this world!
                p No matter how rich you are and how much your kids love you: you’re unhappy if you’re not in love and if you don’t have a loving partner by your side. By our dedicated work, we deliver more happiness into this world and have more people to be in love with!
                p Opening this page you expected to read something boring like "We unite hearts" etc.? Well, we see our mission wider. What we want to believe we do great is not only matching people right but educating our customers. After we form a couple, we want to be sure it lasts forever! For this, we start educating customers right from the start. We don’t give you the fish. We want to make sure you got the fishing rod from us, to be able to cope with every issue you may ever face with your beloved in the future.
                p After we match two people, they happily leave us. But we do care how it works for you guys when you are out of the agency! We want to be sure your relationships blossoming not fading! For this, we are always there to assist you along the way as you develop your relationships, right until you successfully get married. We can give you the right vector if you feel lost on your way and are always there to repair your relationships if the necessity arises.
                p We don’t believe in divorce, just like you. As a team of educated people, we know from our experience that each problem in a family can be solved by constructive communication. Today it is 100% possible to avoid divorce and repair relationships, and we successfully do it.
                p To summarize: we work to educate you for harmonious family life, to find your perfect match, to make sure it ends up with marriage (or commitment), and to make sure your happiness lasts forever!
                p
                    a(href="#") Request your individoal matchmaling programm
                p
                    a(href="#") Request free Skype call with matchmaker
    section.quickForm(style="background-image: url('static/images/BG_girl_in_blue_dress.jpg');')")
        .container
            .quickForm__title Take the first step to new relationships now. Get a personal consultation with an expert matchmaker on Skype absolutely free!
            p.quickForm__description We will gladly help you to choose the best way to search for your second half
            .quickForm__wrapper
                form
                    .quickForm__formBox
                        input.field(type="text" placeholder="Skype or Phone number" id="phone" name="phone")
                        input.field(type="text" placeholder="Preferred time" id="time" name="time")
                        button.button#sendQuickForm Book a call