extends template/main

block variables

    - var title = 'Мой профиль'

block content
    section.myProfileHeader
        .container
            .myProfileHeader__box
                .sidebar__title My Account
                .aboutProfile
                    .aboutProfile__box
                        .aboutProfile__text Fill out the profile to increase your chance to find the perfect lady
                        a.aboutProfile__button + Add personal details
                        .aboutProfile__strength
                            span Profile Strength: 15%
                            .percentLine(data-percent="15")
                                span
    section.myProfile
        .container
            .myProfile__box

                include modules/sidebar/sidebar
                .profile
                    .tabs
                        a.tabs__item(href="#") Main info
                        a.tabs__item.tabs__item-active(href="#") Personal Details
                        a.tabs__item(href="#") Ideal lady
                    .profile__content
                        a.editProfile(href="editProfile.html") Edit
                        .profile__DetailsList
                            .profile__DetailsItem
                                span.profileKey Your Children (if any, their age):
                                span.profileValue Son 8 y.o.
                            .profile__DetailsItem
                                span.profileKey Would you like to have more children?
                                span.profileValue Yes
                            .profile__DetailsItem
                                span.profileKey Your education:
                                span.profileValue University of Central Florida
                            .profile__DetailsItem
                                span.profileKey What is your current job?
                                span.profileValue United Parcel Service
                            .profile__DetailsItem
                                span.profileKey Do you smoke?
                                span.profileValue No
                            .profile__DetailsItem
                                span.profileKey Can you tolerate lady's smoking?
                                span.profileValue No
                            .profile__DetailsItem
                                span.profileKey Height *
                                span.profileValue 178 cm
                            .profile__DetailsItem
                                span.profileKey Weight *
                                span.profileValue 88 kg
                            .profile__DetailsItem
                                span.profileKey What is your native language?
                                span.profileValue American
                            .profile__DetailsItem
                                span.profileKey What foreign languages do you speak?
                                span.profileValue English
                            .profile__DetailsItem
                                span.profileKey Marital status:
                                span.profileValue None
                            .profile__DetailsItem
                                span.profileKey If you are divorced, please, give us the termination dates of all your previous marriages
                                span.profileValue Never married
                            .profile__DetailsItem
                                span.profileKey Is social drinking acceptable for you?
                                span.profileValue
                            .profile__DetailsItem
                                span.profileKey Do you have any major health problems?
                                span.profileValue
                            .profile__DetailsItem
                                span.profileKey If yes then, please, specify:
                                span.profileValue
                            .profile__DetailsItem
                                span.profileKey Your hobbies and interests:
                                span.profileValue Golf, football
                            .profile__DetailsItem
                                span.profileKey Your religion:
                                span.profileValue Christian
                            .profile__DetailsItem
                                span.profileKey Description:
                                span.profileValue Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                            .profile__DetailsItem
                                span.profileKey Give at least 5 reasons why you can be good husband?
                                span.profileValue Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            .profile__DetailsItem
                                span.profileKey How will a woman's live improve when she becomes your wife?
                                span.profileValue Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                            .profile__DetailsItem
                                span.profileKey Indicate city and country where you plan to reside when you get married?
                                span.profileValue Los Angeles
                            .profile__DetailsItem
                                span.profileKey Do you own property where you live at the moment?
                                span.profileValue Yes
                            .profile__DetailsItem
                                span.profileKey Your annual income in USD or EUR
                                span.profileValue $ 2,200.65