extends template/main

block variables

    - var title = 'Главная страница'
    - var pageClass = 'index-page'

block content
    section
        .container
            .section__title Our prices
            .specialOffer
                .specialOffer__textWrapper
                    .specialOffer__title Get first 3 video conversation with ladies for $59
                    .specialOffer__description Regular price $297
                    .specialOffer__date Offer valid until May 30, 2019
                button.button Get offer
    section.pricingTours
        .container
            .section__title Romance tours
            .pricingTours__list
                .pricingTours__item
                    span.pricingTours__label 4 days/ 3 nights tour
                    .pricingTours__title High class apartment or hotel ****
                    ul.pricingTours__features
                        li Find a mate
                        li Chat with your favorite girls
                        li Date by video
                        li Meet the girls live
                        li X
                        li X
                        li X
                    .viewAll View all
                    .pricingTours__sum 1,570 USD
                    button.button Book a tour
                .pricingTours__item
                    span.pricingTours__label 7 days/ 6 nights tour
                    .pricingTours__title High class apartment or hotel ****
                    ul.pricingTours__features
                        li Find a mate
                        li Chat with your favorite girls
                        li Date by video
                        li Meet the girls live
                        li X
                        li X
                        li X
                    .viewAll View all
                    .pricingTours__sum 1,570 USD
                    button.button Book a tour
                .pricingTours__item
                    span.pricingTours__label 12 days/ 11 nights tour
                    .pricingTours__title High class apartment or hotel ****
                    ul.pricingTours__features
                        li Find a mate
                        li Chat with your favorite girls
                        li Date by video
                        li Meet the girls live
                        li X
                        li X
                        li X
                    .viewAll View all
                    .pricingTours__sum 1,570 USD
                    button.button Book a tour
                .pricingTours__item
                    span.pricingTours__label 15 days / 14 night multi-city tour
                    .pricingTours__title High class apartment or hotel ****
                    ul.pricingTours__features
                        li Find a mate
                        li Chat with your favorite girls
                        li Date by video
                        li Meet the girls live
                        li X
                        li X
                        li X
                    .viewAll View all
                    .pricingTours__sum 1,570 USD
                    button.button Book a tour
    section.promoInfo
        .container
            .promoInfo__box.regularActions
                .section__title Regular actions
                .regularActions__list
                    .regularActions__item
                        span Send letter
                        span $10
                    .regularActions__item
                        span Arrange videodate
                        span $99
                    .regularActions__item
                        span Arrange live date
                        span $150
                    button.button Add funds
            .promoInfo__box.matchmakingService
                .section__title Matchmaking service
                .specialOffer
                    .specialOffer__textWrapper
                        .specialOffer__title Get the most out of Adam and Eva with professional Matchmaking service!
                        .specialOffer__description Over 19 years we successfully find life partners for men around the world. I’ts time to find your perfect woman
                        .specialOffer__date Book a free Skype call with our Matchmaker
                    button.button Get offer
