extends template/main

block variables

    - var title = 'Прайс-дист'

block content
    section
        .container
            .section__title Our prices
            .specialOffer.specialOffer-long
                .specialOffer__textWrapper
                    .specialOffer__title Get first 3 video conversation with ladies for $59
                    .specialOffer__description Regular price $297
                    .specialOffer__date Offer valid until May 30, 2019
                button.button Get offer
    section.pricingTours
        .container
            .section__title Romance tours
            .pricingTours__list
                .pricingTours__item
                    span.pricingTours__label Romantic weekend getaway
                    .pricingTours__title 4 days/ 3 nights tour
                    ul.pricingTours__features
                        li High class apartment or hotel ****
                        li Transportation from and to airport
                        li High class apartment/ 3-4* approved hotel
                        li Unlimited introductions
                        li Unlimited correspondence with ladies you meet on your tour
                        li.pricingTours__emptyItem
                            span
                        li.pricingTours__emptyItem
                            span
                        li.pricingTours__emptyItem
                            span
                        li.pricingTours__emptyItem
                            span
                        li.pricingTours__emptyItem
                            span
                        li.pricingTours__emptyItem
                            span
                        li.pricingTours__emptyItem
                            span
                        li.pricingTours__emptyItem
                            span
                        li.pricingTours__emptyItem
                            span
                        li.pricingTours__emptyItem
                            span
                    .viewAll.showAllList View all
                    .pricingTours__sum 1,570 USD
                    button.button Book a tour
                .pricingTours__item
                    span.pricingTours__label Romance week in Ukraine
                    .pricingTours__title 7 days/ 6 nights tour
                    ul.pricingTours__features
                        li High class apartment or hotel ****
                        li Transportation from and to airport
                        li High class apartment/ 3-4* approved hotel
                        li Unlimited introductions
                        li Unlimited correspondence with ladies you meet on your tour
                        li 2 video dates with selected ladies
                        li 20% discount on other videodates
                        li Excursion of the city
                        li.pricingTours__emptyItem
                            span
                        li.pricingTours__emptyItem
                            span
                        li.pricingTours__emptyItem
                            span
                        li.pricingTours__emptyItem
                            span
                        li.pricingTours__emptyItem
                            span
                        li.pricingTours__emptyItem
                            span
                        li.pricingTours__emptyItem

                    .viewAll.showAllList View all
                    .pricingTours__sum 1,570 USD
                    button.button Book a tour
                .pricingTours__item
                    span.pricingTours__label Ukrainian love story
                    .pricingTours__title 12 days/ 11 nights tour
                    ul.pricingTours__features
                        li High class apartment or hotel ****
                        li Transportation from and to airport
                        li High class apartment/ 3-4* approved hotel
                        li Unlimited introductions
                        li Unlimited correspondence with ladies you meet on your tour
                        li 3 video dates with selected ladies
                        li 40% discount on other videodates
                        li 2 Excursions of the city
                        li 2 Visit to cosmetologist
                        li Personal assistant
                        li Tour can cover 2 cities
                        li Matchmaker’s consultancy before you come
                        li.pricingTours__emptyItem
                            span
                        li.pricingTours__emptyItem
                            span
                        li.pricingTours__emptyItem
                            span
                    .viewAll.showAllList View all
                    .pricingTours__sum 1,570 USD
                    button.button Book a tour
                .pricingTours__item
                    span.pricingTours__label VIP matchmaking tour
                    .pricingTours__title 15 days/ 14 nights tour
                    ul.pricingTours__features
                        li High class apartment or hotel ****
                        li Transportation from and to airport
                        li High class apartment/ 3-4* approved hotel
                        li Unlimited introductions
                        li Unlimited correspondence with ladies you meet on your tour
                        li 5 video dates with selected ladies
                        li 50% discount on other videodates
                        li Excursions of each city
                        li Personal assistant in each city
                        li Tour covers 3+ cities
                        li Initial Matchmaker’s consultancy
                        li Matchmaker’s support during the tour
                        li 40% discount on exclusive
                        li Matchmaking program
                        li Arranging transportation between cities *
                    .viewAll.showAllList View all
                    .pricingTours__sum 1,570 USD
                    button.button Book a tour
    section.promoInfo
        .container
            .promoInfo__box.regularActions
                .section__title Regular actions
                .regularActions__list
                    .regularActions__item
                        span Send letter
                        span $10
                    .regularActions__item
                        span Arrange videodate
                        span $99
                    .regularActions__item
                        span Arrange live date
                        span $150
                    button.button Add funds
            .promoInfo__box.matchmakingService
                .section__title Matchmaking service
                .specialOffer
                    .specialOffer__textWrapper
                        .specialOffer__title Get the most out of Adam and Eva with professional Matchmaking service!
                        .specialOffer__description Over 19 years we successfully find life partners for men around the world. I’ts time to find your perfect woman
                        .specialOffer__date Book a free Skype call with our Matchmaker
                    button.button Book a free call
