extends template/main


block content
    section
        .container
            .section__text
                h1 Which way to go?
                h2 Which of our services to choose?
                p We offer 2 strategies during your search of love: Traditional Dating DIY way and Individual Matchmaking Service.
                p Let us explain how each of them works.
                br
                h2 Traditional Dating services
                p Traditional Dating DIY way is when you choose ladies from the online catalog (offline catalog of beautiful girls not available for DIY) without any grounded research or information if the lady is good for you or not: just selection by profile description, photos, videos.
                br
                h2 Personal Matchmaking Service
                p Matchmaking works differently: you hire our matchmaker to match you with initially compatible candidates, compatible with you by more than 100 matching criteria and eliminating initially non-compatible ones.
                p Matchmaking is a different level of high-end, qualified, unique personalized service. It is a mixture of old-school offline approach and modern scientific technology. It is a smart psychological time-saving scientifically-based way, when international matchmaker profoundly interviews you including tests and offers you the best potential matches for you exactly,- ladies who fit your lifestyle, search criteria, plans for the future, expectations, understanding of the good family model, etc, etc. A matchmaker can cover it all. A regular person can hardly manage this at all.
                br
                h2 Dating  VS  Matchmaking: what to choose?
                p We offer honest dating services of a great quality.
                p
                    b Our Traditional Dating  DIY services include:
                ul
                    li video-dates
                    li live introductions
                    li dating packages
                    li VIP group tours (coming soon)
                    li individual romance tours
                    li mail forwarding
                    li background check
                    li special requests
                p We assist you in every step, and many men succeed in a DIY way. We offer a reliable way to get in touch with your beautiful Ukrainian bride before you come: see her live on video date and experience exciting live talk to make sure she is your type of person. Exchange letters until you arrive, to make the first live date most impressive and have the lady wait for your visit. For your convenience, we offer different types of membership. You also can pay for each service separately. Read more about memberships and pay-per-service here.
                p Romance tours are most popular and have the highest success rate in the industry due to the exceptional quality of services included in each package: matchmaker's assistance before and during your tour, all-inclusive stay in high-quality city center apartments or hotels, and life-changing coaching in between your dates to increase the chance of right choice in the end of your trip.
                p Our premium matchmaking group tours allow successful men to learn about Ukrainian culture and meet honest and beautiful Russian women on unique matchmaking singles party. We are the only company in the world running premium singles events in such an effective format.
                p Today the effectiveness of our romance tours is the highest in the industry, due to attentive matchmaker’s supervision. While tours are effective dating services with us because we manage them so well, other services might not bring the desired result. Why so? Read farther below.
                br
                p
                    b Our Matchmaking Services include:
                ul
                    li Individual Matchmaking Programs
                    li Personalized and group dating coaching
                    li Private matchmaker’s consultanc
                    li Relationships revision and repair
                p Our main success and expertise is Individual Matchmaking Programs.
                br
                h2 Why traditional dating may not work?
                p Normally, success rate of traditional dating services (DIY approach when men choose ladies without matchmaker‘s assistance) is not as high as it might be, for multiple reasons:
                ul
                    li Impossible to cover all essential life areas and search criteria in the profile description, so the selection is done among „hardly known“ people
                    li Rare customers men and women got an education on how to choose the right life partner and spouse, what counts and what to pay attention to - while matchmaker covers more than 110 matching criteria and more!
                    li Often men and women underestimate some criteria and overestimate others, revealing unrealistic expectations
                    li
                        p Cultural difference is still something needed to be explained by the international matchmaker.
                        p Here are the most common reasons why traditional dating might be not successful. At the same time, individual matchmaking program really works, with up to an unbelievable 95% success rate
                br
                h2 Why matchmaking programs work?
                ul
                    li In-depth profound interview with matchmaker allows to reveal your most special requests and demands
                    li Integral matchmaking approach allows not only to match you with a psychologically compatible woman but to make sure her lifestyle, background, plans for the future and vision of marriage coincide with yours and fit into your vision of a happy married life
                    li Only family-minded, motivated ladies can be found on Adam-and-Eva.com. Verification of each lady and her intentions before she goes online lasts 2-3 hours
                    li Most attentive, sensitive, delicate attitude of a matchmaker eliminates wrong candidates from the list!
                    li Our matchmaker is successful in what she is doing for 15 years already! 400+ couples  matched!
    section.quickForm(style="background-image: url('static/images/BG_girl_in_blue_dress.jpg');')")
        .container
            .quickForm__title Take the first step to new relationships now. Get a personal consultation with an expert matchmaker on Skype absolutely free!
            p.quickForm__description We will gladly help you to choose the best way to search for your second half
            .quickForm__wrapper
                form
                    .quickForm__formBox
                        input.field(type="text" placeholder="Skype or Phone number" id="phone" name="phone")
                        input.field(type="text" placeholder="Preferred time" id="time" name="time")
                        button.button#sendQuickForm Book a call