extends template/main

block variables

    - var title = 'Предложения'

block content
    section.myProfileHeader
        .container
            .myProfileHeader__box
                .sidebar__title My Account
                .aboutProfile
                    .aboutProfile__box
                        .aboutProfile__text Fill out the profile to increase your chance to find the perfect lady
                        a.aboutProfile__button + Add personal details
                        .aboutProfile__strength
                            span Profile Strength: 15%
                            .percentLine(data-percent="15")
                                span
    section.myProfile
        .container
            .myProfile__box
                .sidebar
                    include modules/sidebar/sidebar
                .profile
                    .profile__content
                        .specialOffer
                            .specialOffer__textWrapper
                                .specialOffer__title Get first 3 video conversation with ladies for $59
                                .specialOffer__description Regular price $297
                                .specialOffer__date Offer valid until May 30, 2019
                            button.button Get offer
