extends template/main


block content
    section
        .container
            .section__text
                h1 Translation
                h2 ...To be sure we understand each other right
                p Before you make your way to Ukraine, decide to learn some Russian or Ukrainian words, and this would be a great decision. Your lady may appreciate not to mention her relatives who usually don't speak English. However, you still have a goal at your mind while planning your trip your goal probably not only earning the language but first getting to know your lady. Sure, you may have a hard time operating newbie's small amount of words in your vocabulary. We are here to help you overcome the language barrier and make your communication with the lady easy, consistent and informative. Adam-and-Eva.com marriage agency can assist you with most professional interpreters and translators whom we train and examine before they start working.
                p We encourage ladies to put maximum efforts to learn English, and the general trend is that more and mare ladies learn the language. However, speaking language practice is the biggest thing that makes theoretic knowledge to live. And often skills stay unused before a lady meets someone special whom she wants to communicate and build relationships.
                img.floatRight(src="static/images/media/textImg.png")
                p Until that time, many girls would ask for the assistance of a translator, at least during the first trip when you meet a woman. Since we are aware of highest importance for ladies to learn the language we recommend them to minimize using a translator for the second trip and try to use all other means of translation but the agency professional translator just because this way they start using all their hidden 'sleeping' English language skills! Our agency support ladies in feedback, so they can be sure they are on the right way of learning.
                p While she is learning, it is recommended that a man shows patience and let her choose to speak with the translator if she feels more comfortable this way Just believe our word here this patience of yours will be so much rewarded in future relationships. In our culture, it is highly appreciated behavior that may put many solid bricks in the base of your future life-lasting faintly. Learn more about Slavic Ukrainian culture and Odesa women's traditions.
    section.quickForm(style="background-image: url('static/images/BG_girl_in_blue_dress.jpg');')")
        .container
            .quickForm__title Take the first step to new relationships now. Get a personal consultation with an expert matchmaker on Skype absolutely free!
            p.quickForm__description We will gladly help you to choose the best way to search for your second half
            .quickForm__wrapper
                form
                    .quickForm__formBox
                        input.field(type="text" placeholder="Skype or Phone number" id="phone" name="phone")
                        input.field(type="text" placeholder="Preferred time" id="time" name="time")
                        button.button#sendQuickForm Book a call
    section
        .container
            .section__text
                p On the other side, there is a substantial reason why men should insist on having a translator present at a meeting. The key to success is the informativeness between two people. Many couples cannot establish consistent and Informative communication without a translator, just because the vocabulary of the girl Is so limited. This way a man is losing time with no resultative communication. Here we want to want men first, because you guys spend time and money on the trip, and a woman expects you to keep control over the situation. You should remember the important mind setting of Ukrainian women - she sees her man as a leader and a responsible side for the situation in your communication. If you are result-oriented and your noble knows little English, make sure you arranged at least 80% of your time with the lady with experienced interpreter's help during your first date. Make sure you have consistent, profound and well-translated informative communication during your dates. However, do care to meet your lady a couple of times without a translator. In such a way you can see if you can speak to the person you want to know by other means rather than language abilities. Remember, "body language" that is might be a funny experience and easily sets warm communication. We speak only about dates where chemistry is there on a first date.
                p Reasonable solution for increasing your dates potential is to take an appropriate assistance from our dating interpreters. We have English, German, French, Spanish and Italian translators for your convenience. Our interpreters are well-educated and professionally trained staff with excellent communicational skills. Using them is especially good when you plan to ask for a matchmaker's feedback on your date or dates. Contact our matchmaking expert for details.
                p By the way, it might be needed to mention the "golden rule" of professional interpreters. Why? Just because we care. We want you to be protected and confident on your date. We often get questions from clients who got the wrong experience with interpreters from another dating site. Men often ask if that is okay when the translator drinks alcohol during working hours or smoking, speaking on the phone, chatting to your lady, etc. Unfortunately, most agencies don't train their staff and quality translation service might be just a lucky occasion. We want you to be on a safe side during your date. Read, "Golden rules" of the professionally trained interpreter.
                p If you need a translator not only for your date but for a business meeting or other purposes, please let us know details and we arrange a qualified translator for your meeting or event. For details and special requests, you may have, please contact us.
include modules/contacts/contacts