extends template/main


block content
    section
        .container
            .section__text
                h1 Ukraine romance tours by Adam and Eva
                h2 Personal romance tours: Happiness cannot wait!
                p
                    strong Please, read the information below attentively before making any reservation for your tour.
                img.floatRight(src="static/images/media/textImg.png")
                p
                    strong Adam-and-eva.com is a tour based company due to fantastic effectiveness of such business model.
                    | You can do years of writing letters, but we put it way more simple: come over and date! Hundreds of happy men experienced the power of personal matchmaking tours and succeeded. Years of matchmaking experience and hundreds of married couples just don't let us ignore this romantic experience! When a man comes to a great city, dates beautiful ladies with similar intentions, they spend a good time together, it is easy to make the right choice.
                br
                p We encourage all our clients to plan their dating trip to Odessa on a practical basis, no matter if this is a far-prepared trip or a spontaneous decision. We make it is easy to choose a tour configured by your needs.
                p Take advantage of the variety of our travel plan based on your preferences, amount of days and ladies you want to meet. Also, choosing your travel plan you decide if you want to get a unique considerable discount on our professional matchmaker’s services (available to be used when needed even when you return home).
                    a(href="#") Take our travel plan or compose your own romantic tour configuration.
                br
                h2 What makes our personal romantic tours the right choise?
                ul
                    li Personal touch. Personal touch. Our personal and not group tours service-oriented on your needs, your choices, your requests, your matchmaking
                    li Live and real communication. The personal meeting is the only way to find if she is meant for you. Virtual ways don't do that for you
                    li Right dating scenario. . Leaving problems at home, meeting ladies here and considering them after, you make bright powerful real steps towards reaching your goal
                    li Time and money saving. Stop writing to ladies who may not match you in reality. Date first - then start meaningful writing
                    li Real chance to impress her. All men write letters and send gifts but only a few eventually come over Be different and succeed!
                    li Only positive experience. Even if morning date was not successful, you learn about local ladies and keep at lunch and evening dating more informed
                p Several factors matter when you plan the trip and want to make it more rational and effective:  where you are from, previous dating experience with ladies from FSU, your expectations, beliefs and inner restrictions or freedoms you may have when it comes to dating Ukrainian women. You may do more for yourself and mention this too when chooses your travel plan - let us know about your special preferences. Contact our matchmaker for private consulting and make your trip more effective and result-oriented. Or — you may pass over this, and simply get a ticket and come to Odessa — be sure to receive our services of the highest quality, no matter which tour package you choose!
                img.floatRight(src="static/images/media/textImg.png")
                p
                    strong Basic “must- have” tour services advised to be ordered are
                    | apartment rental, airport transfers and matchmaker consulting. The first two are about your comfort and safety. When it comes to accommodation in Ukraine, only experienced companies have high standards to fit international travelers demands. Besides, the place to stay must allow your lady to come to your comfort and without watchers eyes, to watch photos together or just have a cup of tea or cook together
                br
                p This is an essential reason why the hotel might be not the right place to stay on a romantic trip. In local culture, lady corning into the hotel with a man is fighting massive public censure and disapproval. This is something that a serious and decent woman does not allow. Prudent choice of yours allows all your giant plans happen! Defend your plans and show her care - select one of our protected and fully equipped apartments. Transfers from and to the airport are about safety - we want you to see only the pleasant side of Ukraine. Let us protect you from those choosing the wrong income, with substantial consequences of war and economic failure.
                br
                img.floatLeft(src="static/images/media/textImg.png")
                p
                    strong The matchmaker consulting consulting
                    | is the third advised service is to increase the effectiveness of your trip regardless of its length. Usually, men turn to our matchmaker's advice several times during their stay due to the result-oriented approach of our matchmaker.
                p The general rule for all dating travel plans is - the more days of your trip, the more money you save. Check on tour packages and compare conditions and prices here.
                p
                    strong Each tour service is available to be ordered by parts, separately.
                    | If you consider extra services besides already ordered, you may always add extra service for your convenience, at any time. Our tour packages were composed by us, considering years of other clients experience, statistics of successful marriages after, and feedback from our clients who got married as a result of taking our tours. Our agency does our best to let you benefit as much use as you can from our matchmaking trip. According to the number of days, you want to stay we offer you reasonable statistics-proved extra activities. As you see, we don't overload you with unneeded offers of meeting an unlimited amount of ladies which never works anyway. However, it is up to you if you wish to add more activities during your stay. Just let us now, and we give you extra services for the best-discounted price possible.
    section.quickForm(style="background-image: url('static/images/BG_girl_in_blue_dress.jpg');')")
        .container
            .quickForm__title Take the first step to new relationships now. Get a personal consultation with an expert matchmaker on Skype absolutely free!
            p.quickForm__description We will gladly help you to choose the best way to search for your second half
            .quickForm__wrapper
                form
                    .quickForm__formBox
                        input.field(type="text" placeholder="Skype or Phone number" id="phone" name="phone")
                        input.field(type="text" placeholder="Preferred time" id="time" name="time")
                        button.button#sendQuickForm Book a call
    section
        .container
            .section__text
                p
                    strong By the way! Our clients often ask us:
                    | “Why do I get more value for money if I take your matchmaking trip rather than some other leading dating site's tour?". The answer is amazingly simple: We organize the tour especially for you and we direct our actions to help you find your match, and not just to entertain you. Put simply to it we offer you only activities that bring you closer to your goal, and not just take your time. While the statistics of men married as a result of joining other sites tours are less than 3 %, we proudly boast with our 52% successful marriage (because of the genuine approach that we provide). Over the last 5 years of starting our revolutionary matchmaking program, the success rate increased three times, which proves the success orientation of our matchmaking strategy. We do this service for serious marriage-minded Western men and sincere Ukrainian women. Learn more about our professional matchmaker's strategy
                    a(here="#") here.
                br
                h2 How to order a personal tour?
                p Choose the best personal tour plan here. If you want to choose other options for your coming trip, contact us below and tell about your plans and details you want to add. We will make a calculation and a special matchmaking offer for you sure - this offer will be too good to be rejected!
                br
                a(href="#") Check on romance tour packages