extends template/main


block content
    section
        .container
            .section__text
                h1 Phone — Video calls
                h2 Why worth trying live services?
                p
                    strong Highly recommended services of a great informativeness
                    | in every situation and stage of communication. If you have live communicational contact ( phone/video call) with the lady before coming over and it was positive, you already have a very high chance to succeed with this woman. Such information is not just words, but proven fact Agree, this is a great thing • to be sure about your tomorrow.
                img.floatRight(src="static/images/media/textImg.png")
                p
                    strong If you correspond with a woman and have serious intentions,
                    | it is recommended to consider phone call communication after sending her three letters and getting responses(on the condition you see there are a mutual interest and growing communication). After six letters sent by you and responses from her, we advise going to another level of contact and order a video meeting with a woman, to make sure she is motivated and involved in your conversation just like you do. s
                p
                    strong The greatest advantage of this service is that it always working right for you. How comes?
                    | Simple. It saves your time and money every time you use it. On one side, it strongly increases communication between you and your lady, if the mutual interest is there.  On the other side, the service easily reveals if the lady is not that motivated about your communication as you are. When you see the response and attitude you don't like or find shallow, please don't rush with conclusions and contact our matchmaker first to make sure what a woman's attitude and response may mean. Be sure - if the lady is as unmotivated about you as you are about her, we let you know about it straight away. This way you stop talking to the person whose attitude you don't accept and may start a new search without wasting your emotions, time and money - not to mention the most precious lifetime.
                p
                    strong Read about Rules and Regulations of Video Call service
                    a(href="#") here.
                p
                    strong Read about Rules and Regulations of Phone Call service
                    a(href="#") here.
                br
                h2 Other advantages of  Phone/ Video calls service:
                ul
                    li Most men too lazy to take advantage of this service - be ahead of competitors and show the lady your sincere interest and seriousness of intentions
                    li Available with a woman from another dating site, if you cannot be sure she is real and want to find out before making a tour reservation
                    li You can hear and see her sincerity and dedication to your communication
                    li Make sure she looks like her photos
                    li Convenient and direct way to set up some plans before your arrival, to avoid misunderstanding and time loss
                    li Good for asking questions when you need immediate response without long consideration (such answers are 99% genuine and cannot be pre-arranged)
                    li This is the real, live personal contact between you and a girl. It is always a happy experience to both Ades that stays in memory forever, adding the right setting to your relationships
    section.quickForm(style="background-image: url('static/images/BG_girl_in_blue_dress.jpg');')")
        .container
            .quickForm__title Take the first step to new relationships now. Get a personal consultation with an expert matchmaker on Skype absolutely free!
            p.quickForm__description We will gladly help you to choose the best way to search for your second half
            .quickForm__wrapper
                form
                    .quickForm__formBox
                        input.field(type="text" placeholder="Skype or Phone number" id="phone" name="phone")
                        input.field(type="text" placeholder="Preferred time" id="time" name="time")
                        button.button#sendQuickForm Book a call
    section
        .container
            .section__text
                img.floatRight(src="static/images/media/textImg.png")
                p We want to underline, at Adam-and-Eva.com we educate ladies about the massive advantages of real communication, which is the base for relationships. The key here is simple and both ladies and men know it - without personal communication people can exchange only words on paper, which is so poor and emotionally empty. Personal communication eliminates the distance between you and gives a feeling of true and not virtual far-distance relationships This is where the highest value of live services lays.
                p If the lady does not speak English, you will be provided with a professional interpreter free of charge.
                p If you wish to do more for your future relationships with a girl, request a matchmaker's feedback on your phone/video call. Our matchmaking expert will provide an analysis of your conversation and offer recommendations regarding your future dialogue with the lady. Learn more about this success-oriented service here.
                .quickPaymentButton
                    span Translated 20 minutes  Video Date  $ 99
                    button.button Pay
                br
                p After you prepay your Video date, email us lady ID and preferred day and time of communication.
                p We contact you within 24 hours after we agree about your date and time with the lady, for final confirmation and details.
                p If you have questions regarding the Video Date service, please contact us below and indicate "Video Date" in the subject field.
    include modules/contacts/contacts