extends template/main

block variables

    - var title = 'Мой профиль'

block content
    section.myProfileHeader
        .container
            .myProfileHeader__box
                .sidebar__title My Account
                .aboutProfile
                    .aboutProfile__box
                        .aboutProfile__text Fill out the profile to increase your chance to find the perfect lady
                        a.aboutProfile__button + Add personal details
                        .aboutProfile__strength
                            span Profile Strength: 15%
                            .percentLine(data-percent="15")
                                span
    section.myProfile
        .container
            .myProfile__box
                .sidebar
                    include modules/sidebar/sidebar
                .profile
                    .tabs
                        a.tabs__item.tabs__item-active(href="#") Favorite profiles
                        a.tabs__item(href="#") Recently viewed profiles
                    .profile__content.candidate__list-column
                        .candidate__list
                            a.candidate__item(href="ladiesItem.html")
                                img(src="static/images/media/image1.jpg")
                                .candidate__title Name, City
                                footer
                                    span 30 y.o
                                    span ID: sn0807
                            a.candidate__item(href="ladiesItem.html")
                                img(src="static/images/media/image2.jpg")
                                .candidate__title Name, City
                                footer
                                    span 30 y.o
                                    span ID: sn0807
                            a.candidate__item(href="ladiesItem.html")
                                img(src="static/images/media/image3.jpg")
                                .candidate__title Name, City
                                footer
                                    span 30 y.o
                                    span ID: sn0807
                            a.candidate__item(href="ladiesItem.html")
                                img(src="static/images/media/image4.jpg")
                                .candidate__title Name, City
                                footer
                                    span 30 y.o
                                    span ID: sn0807
                            a.candidate__item(href="ladiesItem.html")
                                img(src="static/images/media/image5.jpg")
                                .candidate__title Name, City
                                footer
                                    span 30 y.o
                                    span ID: sn0807
                            a.candidate__item(href="ladiesItem.html")
                                img(src="static/images/media/image6.jpg")
                                .candidate__title Name, City
                                footer
                                    span 30 y.o
                                    span ID: sn0807
                        a.viewAll View all