extends template/main


block content
    section
        .container
            .section__text
                h1 What makes us different?
                h2 What makes Adam and Eva matchmaking agency different?
                p There are many dating websites online, and how is Adam-and-Eva.com different from other dating agencies?
                br
                p.goldText Our differences are crucial:
                ul
                    li
                        p We offer BOTH Traditional Dating services and Personal Matchmaking services. Means, men who don’t succeed themselves by traditional dating, just ask our matchmaker to match them with a suitable candidate. We do it successfully!
                        p We used to be a classical dating and marriage agency from 2000 till 2009, with hundreds of successful marriages. Our approach changed in 2010, since then we offer two ways to use our service.
                    li If you start DIY way, we give you a priceless unique service no other agency offers matchmaker opinion about each woman, with detailed information about her life and man she needs in her life, not what she stated in her profile but way more!
                    li We offer unique service - relationships supervision for the time you build relationships with your Russian bride, and until you get married. This way we guarantee that no little misunderstanding becomes a deal-breaker. We are always there to explain what is going on, to deliver the right information to your lady to make sure she understands and accepts. We can repair relationships which are in danger. We do care about what happens after you meet her!
                p.goldText How to choose the right way?
                p
                    a(href="#") Learn more about our dating services
                p
                    a(href="#") Learn more abour matchmaking services
    section.quickForm(style="background-image: url('static/images/BG_girl_in_blue_dress.jpg');')")
        .container
            .quickForm__title Take the first step to new relationships now. Get a personal consultation with an expert matchmaker on Skype absolutely free!
            p.quickForm__description We will gladly help you to choose the best way to search for your second half
            .quickForm__wrapper
                form
                    .quickForm__formBox
                        input.field(type="text" placeholder="Skype or Phone number" id="phone" name="phone")
                        input.field(type="text" placeholder="Preferred time" id="time" name="time")
                        button.button#sendQuickForm Book a call