extends template/main


block content
    section
        .container
            .section__text
                h1 Why trust us?
                ul
                    li
                        b Live customer support
                        | by Phone/Viber/Skype
                    li Only real beautiful ladies
                    li New ladies added every week
                    li Only ladies willing to relocate!
                    li No scam seeding chats, only live services forming relationships
                    li Boutique quality online and offline database of ladies
                    li 100% Antiscam
                    li Grounded DIY dating services and find high-end matchmaking
                    li Offices in smaller and big cities
                    li Skilled matchmaker with effective matching methods
                    li Prescreened and interviewed ladies who proved their serious intentions and showed ID documents
                    li We know each lady personally and can recommend the right one to you
                    li Live ice breaking services lead to relationships/marriage
                    li Adam-and-Eva.com in Gold List of reliable FSU agency
                    li 100%  privacy of our customers - no male profiles ever displayed online
                    li Experienced marriage agency established in 2000
                    li 100%  honest reputation for all years of operation, no scam EVER detected
                h1 How we operate?
                p We register honest verified interviewed ladies and deliver true service.
                p No need to doubt if a lady is real or not: start with video skype-date or even live date!
                p New single beautiful ladies added each week.
                p No scam spreading chats!!! No months and years of time wasted!!!
                p Only true live services that work True exciting video dates, meaningful and honest correspondence with questions list, live meetings without translators to verify mutual interest, dating coaching.
                p Our high standards only let 10% of ladies to go online DUE TO HIGHEST STANDARDS OF OUR AGENCY.
                p After meeting our girls, you never hear they are not ready to move and leave their families. We register only ladies who aware of the necessity to move when they get married and will not ask you to relocate to Ukraine.)) However, Ukraine is a great country to live in so up to you to decide!))
                p Each lady is interviewed for about 3 hours after she shows her ID documents, proves her intentions and sincerity of claimed goals we approve the profile. We feature some beautiful ladies online and even more offline.
                p At Adam-and-Eva.com it is impossible to meet scammers. Several steps in registering ladies simply filter these people away. Our dedicated care about you and constant contact does not allow any scam to happen.
                p Even with the DIY approach, you get access to info about the lady's lifestyle, to decide if she can be a good potential wife for you. We are the only agency that offers such a priceless service to our valued customers.
                p Many agencies name themselves Matchmakers which is not quite so. Ask them what they do to match people effectively- they cannot name a single method. Our skilled matchmaker Aleksandra Baklitskaya with 15 years experience uses only proven and innovative explainable psychological methods in integrity. Our methods really work!
                p Men profiles are not seen online. You fill in the profile at Adam-and-Eva.com to be properly introduced to ladies and our matchmaker.
                p Different ladies to match any request - from modest village girls to sophisticated ladies from big cities. Your request will be satisfied!
                p Adam-and-Eva.com is known since 2000 for its effectiveness and crystal honesty.
                p The total absence of motivated negative reviews on the internet for 19 years, not bad huh?
                p Formed in 2000, we matched more than 450 couples so far.
                p We gladly consult you about how the service works, please contact us and schedule a free video call with our matchmaker!
    section.quickForm(style="background-image: url('static/images/BG_girl_in_blue_dress.jpg');')")
        .container
            .quickForm__title Take the first step to new relationships now. Get a personal consultation with an expert matchmaker on Skype absolutely free!
            p.quickForm__description We will gladly help you to choose the best way to search for your second half
            .quickForm__wrapper
                form
                    .quickForm__formBox
                        input.field(type="text" placeholder="Skype or Phone number" id="phone" name="phone")
                        input.field(type="text" placeholder="Preferred time" id="time" name="time")
                        button.button#sendQuickForm Book a call