footer.footer
    .container
        .footer__content
            .footer__info
                .footer__logo
                .footer__contacts
                    a.watsup(href="tel:000000") +380681200300
                    a.viber(href="tel:000000") +380681200300
                    a.email(href="email:000000") info@adam-and-eva.com
                    a.skipe(href="tel:000000") odesa_135
            .footer__nav
                .footer__nav_box
                    .footer__nav_title INFORMATION
                    .footer__nav_list
                        a(href="#") Home
                        a(href="#") Ladies
                        a(href="#") PRIVACY POLICY
                        a(href="#") TERMS AND CONDITIONS
                        a(href="#") DISCLAIMER
                        a(href="#") REFUND POLICY
                        a(href="#") FAQ
                .footer__nav_box
                    .footer__nav_title SERVICES
                    .footer__nav_list
                        a(href="#") Personal tours
                        a(href="#") Introduction
                        a(href="#") Video
                        a(href="#") Date
                        a(href="#") DISCLAIMER
                        a(href="#") REFUND POLICY
                        a(href="#") FAQ
    .footer__copy
        p.copy © Adam & Eva. 2019. All rights reserved